openapi: 3.1.0
info:
  title: Asaas API v3 (reconstrução do catálogo)
  version: 3.0.0
  description: Subconjunto detalhado reconstruído a partir da referência oficial (docs.asaas.com) e da spec pública https://www.asaas.com/openApi/document?version=3&languageCode=pt-BR.
    Consulta em 2026-09-17.
servers:
- url: https://api.asaas.com
  description: Produção
- url: https://api-sandbox.asaas.com
  description: Sandbox
security:
- accessToken: []
components:
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: access_token
      description: Chave de API da conta. Enviar também User-Agent.
  schemas:
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              description:
                type: string
  responses:
    Erro:
      description: Erro com lista errors[]
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            errors:
            - code: invalid_access_token
              description: <mensagem da API>
paths:
  /v3/customers:
    post:
      operationId: asaas__cliente__criar
      summary: Criar novo cliente
      description: Cadastra o pagador (pessoa física ou jurídica) na conta Asaas e devolve o identificador cus_... usado em cobranças, parcelamentos
        e assinaturas.
      tags:
      - Cliente
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/criar-novo-cliente
      x-acao-canonica: criar
      security:
      - accessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Nome ou razão social do pagador.
                  type: string
                cpfCnpj:
                  description: CPF (11 dígitos) ou CNPJ (14) sem pontuação.
                  type: string
                email:
                  description: Endereço de e-mail.
                  type: string
                phone:
                  description: Telefone fixo com DDD.
                  type: string
                mobilePhone:
                  description: Celular com DDD.
                  type: string
                address:
                  description: Logradouro (rua/avenida).
                  type: string
                addressNumber:
                  description: Número do endereço.
                  type: string
                complement:
                  description: Complemento do endereço (até 255 caracteres).
                  type: string
                province:
                  description: Bairro.
                  type: string
                postalCode:
                  description: CEP, somente dígitos.
                  type: string
                externalReference:
                  description: Seu identificador interno para este registro; útil em buscas e conciliação.
                  type: string
                notificationDisabled:
                  description: Quando true, o Asaas não envia avisos de cobrança a este cliente.
                  type: boolean
                additionalEmails:
                  description: E-mails extras para avisos, separados por vírgula.
                  type: string
                municipalInscription:
                  description: Inscrição municipal do cliente.
                  type: string
                stateInscription:
                  description: Inscrição estadual do cliente.
                  type: string
                observations:
                  description: Texto livre de observações.
                  type: string
                groupName:
                  description: Grupo de clientes (um único nome).
                  type: string
                groupNames:
                  description: Lista de grupos do cliente (até 20 por chamada).
                  type: array
                  items:
                    type: string
                company:
                  description: Nome da empresa do cliente.
                  type: string
                foreignCustomer:
                  description: Marque true para pagador estrangeiro.
                  type: boolean
              required:
              - name
              - cpfCnpj
            example:
              name: Cliente Exemplo Ltda
              cpfCnpj: 00000000000191
              email: financeiro@example.com
              mobilePhone: '11900000000'
              postalCode: '01001000'
              addressNumber: '100'
              externalReference: CLI-001
              notificationDisabled: false
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example: &id001
                object: customer
                id: cus_000000000001
                dateCreated: '2026-09-17'
                name: Cliente Exemplo Ltda
                email: financeiro@example.com
                cpfCnpj: 00000000000191
                personType: JURIDICA
                postalCode: '01001000'
                externalReference: CLI-001
                deleted: false
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
    get:
      operationId: asaas__cliente__listar
      summary: Listar clientes
      description: Retorna a lista paginada de clientes com filtros por nome, e-mail, CPF/CNPJ, grupo e externalReference.
      tags:
      - Cliente
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/listar-clientes
      x-acao-canonica: listar
      security:
      - accessToken: []
      parameters:
      - name: offset
        in: query
        required: false
        description: Posição inicial da página (começa em 0).
        schema:
          type: integer
      - name: limit
        in: query
        required: false
        description: Tamanho da página; 1 a 100, padrão 10.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
      - name: name
        in: query
        required: false
        description: Filtra por nome.
        schema:
          type: string
      - name: email
        in: query
        required: false
        description: Filtra por e-mail.
        schema:
          type: string
      - name: cpfCnpj
        in: query
        required: false
        description: Filtra por CPF/CNPJ.
        schema:
          type: string
      - name: groupName
        in: query
        required: false
        description: Filtra por grupo.
        schema:
          type: string
      - name: externalReference
        in: query
        required: false
        description: Filtra pelo seu identificador.
        schema:
          type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example:
                object: list
                hasMore: false
                totalCount: 1
                limit: 10
                offset: 0
                data:
                - *id001
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
  /v3/customers/{id}:
    get:
      operationId: asaas__cliente__obter
      summary: Recuperar um único cliente
      description: Busca os dados cadastrais de um cliente pelo id cus_...; clientes removidos aparecem com deleted=true.
      tags:
      - Cliente
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/recuperar-um-unico-cliente
      x-acao-canonica: obter
      security:
      - accessToken: []
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso no Asaas, enviado no caminho da URL.
        schema:
          type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example: *id001
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
        '404':
          description: Recurso não encontrado
    put:
      operationId: asaas__cliente__atualizar
      summary: Atualizar cliente existente
      description: Altera dados cadastrais do cliente; somente os campos enviados são modificados (comportamento parcial inferido pela ausência
        de campos obrigatórios no body).
      tags:
      - Cliente
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/atualizar-cliente-existente
      x-acao-canonica: atualizar
      security:
      - accessToken: []
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso no Asaas, enviado no caminho da URL.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Nome ou razão social do pagador.
                  type: string
                cpfCnpj:
                  description: CPF (11 dígitos) ou CNPJ (14) sem pontuação.
                  type: string
                email:
                  description: Endereço de e-mail.
                  type: string
                phone:
                  description: Telefone fixo com DDD.
                  type: string
                mobilePhone:
                  description: Celular com DDD.
                  type: string
                address:
                  description: Logradouro (rua/avenida).
                  type: string
                addressNumber:
                  description: Número do endereço.
                  type: string
                complement:
                  description: Complemento do endereço (até 255 caracteres).
                  type: string
                province:
                  description: Bairro.
                  type: string
                postalCode:
                  description: CEP, somente dígitos.
                  type: string
                externalReference:
                  description: Seu identificador interno para este registro; útil em buscas e conciliação.
                  type: string
                notificationDisabled:
                  description: Quando true, o Asaas não envia avisos de cobrança a este cliente.
                  type: boolean
                additionalEmails:
                  description: E-mails extras para avisos, separados por vírgula.
                  type: string
                municipalInscription:
                  description: Inscrição municipal do cliente.
                  type: string
                stateInscription:
                  description: Inscrição estadual do cliente.
                  type: string
                observations:
                  description: Texto livre de observações.
                  type: string
                groupName:
                  description: Grupo de clientes (um único nome).
                  type: string
                groupNames:
                  description: Lista de grupos do cliente (até 20 por chamada).
                  type: array
                  items:
                    type: string
                company:
                  description: Nome da empresa do cliente.
                  type: string
                foreignCustomer:
                  description: Marque true para pagador estrangeiro.
                  type: boolean
            example:
              email: novo-financeiro@example.com
              notificationDisabled: true
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example: *id001
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
        '404':
          description: Recurso não encontrado
    delete:
      operationId: asaas__cliente__excluir
      summary: Remover cliente
      description: 'Remove o cliente da conta. A remoção é lógica: existe o endpoint POST /v3/customers/{id}/restore para restaurar.'
      tags:
      - Cliente
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/remover-cliente
      x-acao-canonica: excluir
      security:
      - accessToken: []
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso no Asaas, enviado no caminho da URL.
        schema:
          type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example:
                deleted: true
                id: cus_000000000001
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
        '404':
          description: Recurso não encontrado
  /v3/payments:
    post:
      operationId: asaas__cobranca__criar
      summary: Criar nova cobrança
      description: Emite uma cobrança avulsa ou parcelada por boleto (BOLETO), Pix (PIX), cartão (CREDIT_CARD) ou deixando o pagador escolher
        (UNDEFINED). Retorna invoiceUrl, bankSlipUrl e nossoNumero.
      tags:
      - Cobranca
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/criar-nova-cobranca
      x-acao-canonica: criar
      security:
      - accessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customer:
                  description: Id do cliente no Asaas (cus_...).
                  type: string
                billingType:
                  description: 'Meio de pagamento: BOLETO, PIX, CREDIT_CARD ou UNDEFINED (o pagador escolhe na fatura).'
                  type: string
                  enum:
                  - UNDEFINED
                  - BOLETO
                  - CREDIT_CARD
                  - PIX
                value:
                  description: Valor em reais, com ponto decimal.
                  type: number
                dueDate:
                  description: Data de vencimento (AAAA-MM-DD).
                  type: string
                  format: date
                description:
                  description: Texto descritivo (até 500 caracteres onde aplicável).
                  type: string
                daysAfterDueDateToRegistrationCancellation:
                  description: 'Boleto: quantos dias após o vencimento o registro é baixado.'
                  type: integer
                externalReference:
                  description: Seu identificador interno para este registro; útil em buscas e conciliação.
                  type: string
                installmentCount:
                  description: Quantidade de parcelas.
                  type: integer
                totalValue:
                  description: Valor total a ser dividido entre as parcelas.
                  type: number
                installmentValue:
                  description: Valor de cada parcela (alternativa a totalValue).
                  type: number
                discount:
                  description: Objeto de desconto por pagamento antecipado.
                  type: object
                  properties:
                    value:
                      description: Valor ou percentual do desconto.
                      type: number
                    dueDateLimitDays:
                      description: Até quantos dias antes do vencimento o desconto vale (0 = até o vencimento).
                      type: integer
                    type:
                      description: FIXED (valor) ou PERCENTAGE (percentual).
                      type: string
                      enum: &id003
                      - FIXED
                      - PERCENTAGE
                interest:
                  description: Objeto de juros por atraso.
                  type: object
                  properties:
                    value:
                      description: Percentual de juros ao mês após o vencimento.
                      type: number
                fine:
                  description: Objeto de multa por atraso.
                  type: object
                  properties:
                    value:
                      description: Valor ou percentual da multa.
                      type: number
                    type:
                      description: FIXED ou PERCENTAGE.
                      type: string
                      enum: &id004
                      - FIXED
                      - PERCENTAGE
                postalService:
                  description: true para envio do boleto por Correios (serviço tarifado).
                  type: boolean
                split:
                  description: Lista de divisões do valor recebido entre carteiras Asaas.
                  type: array
                  items:
                    type: object
                    properties:
                      walletId:
                        description: walletId da conta que recebe a parte.
                        type: string
                      fixedValue:
                        description: Parte em valor fixo.
                        type: number
                      percentualValue:
                        description: Parte em percentual do valor líquido.
                        type: number
                      totalFixedValue:
                        description: 'Somente parcelamentos: valor fixo sobre o total parcelado.'
                        type: number
                      externalReference:
                        description: Seu identificador para esta divisão.
                        type: string
                      description:
                        description: Descrição da divisão.
                        type: string
                    required:
                    - walletId
                callback:
                  description: Redirecionamento do pagador após pagar a fatura.
                  type: object
                  properties:
                    successUrl:
                      description: URL de retorno após pagamento aprovado.
                      type: string
                    autoRedirect:
                      description: true redireciona automaticamente; false mostra botão.
                      type: boolean
                  required:
                  - successUrl
                pixAutomaticAuthorizationId:
                  description: Id de uma autorização de Pix Automático a vincular.
                  type: string
              required:
              - customer
              - billingType
              - value
              - dueDate
            example:
              customer: cus_000000000001
              billingType: BOLETO
              value: 150.0
              dueDate: '2026-09-30'
              description: Pedido 123
              externalReference: PEDIDO-123
              fine:
                value: 2
                type: PERCENTAGE
              interest:
                value: 1
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example: &id002
                object: payment
                id: pay_000000000001
                dateCreated: '2026-09-17'
                customer: cus_000000000001
                value: 150.0
                netValue: 148.01
                billingType: BOLETO
                status: PENDING
                dueDate: '2026-09-30'
                invoiceUrl: https://sandbox.asaas.com/i/000000000001
                bankSlipUrl: https://sandbox.asaas.com/b/pdf/000000000001
                nossoNumero: '0000001'
                externalReference: PEDIDO-123
                deleted: false
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
    get:
      operationId: asaas__cobranca__listar
      summary: Listar cobranças
      description: Lista cobranças com paginação e filtros por cliente, forma de pagamento, status, assinatura, parcelamento, datas (dateCreated/paymentDate/dueDate
        com [ge]/[le]) e QR Code estático.
      tags:
      - Cobranca
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/listar-cobrancas
      x-acao-canonica: listar
      security:
      - accessToken: []
      parameters:
      - name: offset
        in: query
        required: false
        description: Posição inicial da página (começa em 0).
        schema:
          type: integer
      - name: limit
        in: query
        required: false
        description: Tamanho da página; 1 a 100, padrão 10.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
      - name: customer
        in: query
        required: false
        description: Filtra pelo id do cliente.
        schema:
          type: string
      - name: customerGroupName
        in: query
        required: false
        description: Filtra pelo grupo de clientes.
        schema:
          type: string
      - name: billingType
        in: query
        required: false
        description: Filtra por meio de pagamento.
        schema:
          type: string
          enum:
          - UNDEFINED
          - BOLETO
          - CREDIT_CARD
          - PIX
      - name: status
        in: query
        required: false
        description: Situação do registro (valores no enum).
        schema:
          type: string
          enum:
          - PENDING
          - RECEIVED
          - CONFIRMED
          - OVERDUE
          - REFUNDED
          - RECEIVED_IN_CASH
          - REFUND_REQUESTED
          - REFUND_IN_PROGRESS
          - CHARGEBACK_REQUESTED
          - CHARGEBACK_DISPUTE
          - AWAITING_CHARGEBACK_REVERSAL
          - DUNNING_REQUESTED
          - DUNNING_RECEIVED
          - AWAITING_RISK_ANALYSIS
      - name: subscription
        in: query
        required: false
        description: Filtra pelo id da assinatura.
        schema:
          type: string
      - name: installment
        in: query
        required: false
        description: Filtra pelo id do parcelamento.
        schema:
          type: string
      - name: externalReference
        in: query
        required: false
        description: Filtra pelo seu identificador.
        schema:
          type: string
      - name: paymentDate
        in: query
        required: false
        description: Filtra pela data de pagamento.
        schema:
          type: string
      - name: invoiceStatus
        in: query
        required: false
        description: Filtra cobranças pela situação da nota fiscal.
        schema:
          type: string
          enum:
          - SCHEDULED
          - AUTHORIZED
          - PROCESSING_CANCELLATION
          - CANCELED
          - CANCELLATION_DENIED
          - ERROR
      - name: estimatedCreditDate
        in: query
        required: false
        description: Filtra pela data prevista de crédito.
        schema:
          type: string
      - name: pixQrCodeId
        in: query
        required: false
        description: Filtra cobranças geradas por um QR Code estático.
        schema:
          type: string
      - name: anticipated
        in: query
        required: false
        description: Filtra cobranças antecipadas (true/false).
        schema:
          type: boolean
      - name: anticipable
        in: query
        required: false
        description: Filtra cobranças passíveis de antecipação.
        schema:
          type: boolean
      - name: dateCreated[ge]
        in: query
        required: false
        description: Criadas a partir desta data (AAAA-MM-DD).
        schema:
          type: string
      - name: dateCreated[le]
        in: query
        required: false
        description: Criadas até esta data.
        schema:
          type: string
      - name: paymentDate[ge]
        in: query
        required: false
        description: Pagas a partir desta data.
        schema:
          type: string
      - name: paymentDate[le]
        in: query
        required: false
        description: Pagas até esta data.
        schema:
          type: string
      - name: estimatedCreditDate[ge]
        in: query
        required: false
        description: Crédito previsto a partir desta data.
        schema:
          type: string
      - name: estimatedCreditDate[le]
        in: query
        required: false
        description: Crédito previsto até esta data.
        schema:
          type: string
      - name: dueDate[ge]
        in: query
        required: false
        description: Vencimento a partir desta data.
        schema:
          type: string
      - name: dueDate[le]
        in: query
        required: false
        description: Vencimento até esta data.
        schema:
          type: string
      - name: user
        in: query
        required: false
        description: Filtra pelo e-mail do usuário que criou a cobrança.
        schema:
          type: string
      - name: checkoutSession
        in: query
        required: false
        description: Filtra pelo id de sessão de checkout.
        schema:
          type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example:
                object: list
                hasMore: false
                totalCount: 1
                limit: 10
                offset: 0
                data:
                - *id002
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
  /v3/payments/:
    post:
      operationId: asaas__cobranca__criar__cartao_credito
      summary: Criar cobrança com cartão de crédito
      description: Cria e já tenta autorizar uma cobrança no cartão, enviando os dados do cartão (creditCard + creditCardHolderInfo) ou um creditCardToken.
        Suporta pré-autorização (authorizeOnly) e 3D Secure.
      tags:
      - Cobranca
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/criar-cobranca-com-cartao-de-credito
      x-acao-canonica: criar
      security:
      - accessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customer:
                  description: Id do cliente no Asaas (cus_...).
                  type: string
                billingType:
                  description: 'Meio de pagamento: BOLETO, PIX, CREDIT_CARD ou UNDEFINED (o pagador escolhe na fatura).'
                  type: string
                  enum:
                  - UNDEFINED
                  - BOLETO
                  - CREDIT_CARD
                  - PIX
                value:
                  description: Valor em reais, com ponto decimal.
                  type: number
                dueDate:
                  description: Data de vencimento (AAAA-MM-DD).
                  type: string
                  format: date
                description:
                  description: Texto descritivo (até 500 caracteres onde aplicável).
                  type: string
                daysAfterDueDateToRegistrationCancellation:
                  description: 'Boleto: quantos dias após o vencimento o registro é baixado.'
                  type: integer
                externalReference:
                  description: Seu identificador interno para este registro; útil em buscas e conciliação.
                  type: string
                installmentCount:
                  description: Quantidade de parcelas.
                  type: integer
                totalValue:
                  description: Valor total a ser dividido entre as parcelas.
                  type: number
                installmentValue:
                  description: Valor de cada parcela (alternativa a totalValue).
                  type: number
                discount:
                  description: Objeto de desconto por pagamento antecipado.
                  type: object
                  properties:
                    value:
                      description: Valor ou percentual do desconto.
                      type: number
                    dueDateLimitDays:
                      description: Até quantos dias antes do vencimento o desconto vale (0 = até o vencimento).
                      type: integer
                    type:
                      description: FIXED (valor) ou PERCENTAGE (percentual).
                      type: string
                      enum: *id003
                interest:
                  description: Objeto de juros por atraso.
                  type: object
                  properties:
                    value:
                      description: Percentual de juros ao mês após o vencimento.
                      type: number
                fine:
                  description: Objeto de multa por atraso.
                  type: object
                  properties:
                    value:
                      description: Valor ou percentual da multa.
                      type: number
                    type:
                      description: FIXED ou PERCENTAGE.
                      type: string
                      enum: *id004
                postalService:
                  description: true para envio do boleto por Correios (serviço tarifado).
                  type: boolean
                split:
                  description: Lista de divisões do valor recebido entre carteiras Asaas.
                  type: array
                  items:
                    type: object
                    properties:
                      walletId:
                        description: walletId da conta que recebe a parte.
                        type: string
                      fixedValue:
                        description: Parte em valor fixo.
                        type: number
                      percentualValue:
                        description: Parte em percentual do valor líquido.
                        type: number
                      totalFixedValue:
                        description: 'Somente parcelamentos: valor fixo sobre o total parcelado.'
                        type: number
                      externalReference:
                        description: Seu identificador para esta divisão.
                        type: string
                      description:
                        description: Descrição da divisão.
                        type: string
                    required:
                    - walletId
                callback:
                  description: Redirecionamento do pagador após pagar a fatura.
                  type: object
                  properties:
                    successUrl:
                      description: URL de retorno após pagamento aprovado.
                      type: string
                    autoRedirect:
                      description: true redireciona automaticamente; false mostra botão.
                      type: boolean
                  required:
                  - successUrl
                pixAutomaticAuthorizationId:
                  description: Id de uma autorização de Pix Automático a vincular.
                  type: string
                creditCard:
                  description: Dados do cartão (tráfego exige ambiente PCI-DSS).
                  type: object
                  properties:
                    holderName:
                      description: Nome como impresso no cartão.
                      type: string
                    number:
                      description: Número do cartão.
                      type: string
                    expiryMonth:
                      description: Mês de validade com 2 dígitos.
                      type: string
                    expiryYear:
                      description: Ano de validade com 4 dígitos.
                      type: string
                    ccv:
                      description: Código de segurança.
                      type: string
                  required:
                  - holderName
                  - number
                  - expiryMonth
                  - expiryYear
                  - ccv
                creditCardHolderInfo:
                  description: Dados do titular do cartão para antifraude.
                  type: object
                  properties:
                    name:
                      description: Nome do titular.
                      type: string
                    email:
                      description: E-mail do titular.
                      type: string
                    cpfCnpj:
                      description: CPF/CNPJ do titular.
                      type: string
                    postalCode:
                      description: CEP do titular.
                      type: string
                    addressNumber:
                      description: Número do endereço do titular.
                      type: string
                    addressComplement:
                      description: Complemento do endereço do titular.
                      type: string
                    phone:
                      description: Telefone com DDD do titular.
                      type: string
                    mobilePhone:
                      description: Celular do titular.
                      type: string
                  required:
                  - name
                  - email
                  - cpfCnpj
                  - postalCode
                  - addressNumber
                  - phone
                creditCardToken:
                  description: Token de cartão obtido na tokenização (substitui os dados do cartão).
                  type: string
                authorizeOnly:
                  description: true faz só a pré-autorização; a captura é feita depois.
                  type: boolean
                remoteIp:
                  description: IP público do comprador (não o do servidor).
                  type: string
                threeDSecure:
                  description: Ativa autenticação 3D Secure na cobrança.
                  type: object
                  properties:
                    callbackUrl:
                      description: URL de retorno após o desafio 3DS.
                      type: string
                  required:
                  - callbackUrl
                deviceInfo:
                  description: Dados do navegador/dispositivo exigidos pelo 3DS.
                  type: object
                  properties:
                    colorDepth:
                      description: Profundidade de cor da tela (bits).
                      type: integer
                    screenHeight:
                      description: Altura da tela em pixels.
                      type: integer
                    screenWidth:
                      description: Largura da tela em pixels.
                      type: integer
                    timeZoneOffset:
                      description: Diferença em horas para o UTC.
                      type: integer
                    language:
                      description: Idioma do navegador.
                      type: string
                    userAgent:
                      description: User-Agent do navegador do comprador.
                      type: string
                    remoteIp:
                      description: IP do dispositivo do comprador.
                      type: string
                  required:
                  - colorDepth
                  - screenHeight
                  - screenWidth
                  - timeZoneOffset
                  - language
                  - userAgent
                  - remoteIp
              required:
              - customer
              - billingType
              - value
              - dueDate
              - remoteIp
            example:
              customer: cus_000000000001
              billingType: CREDIT_CARD
              value: 200.0
              dueDate: '2026-09-17'
              creditCard:
                holderName: TITULAR TESTE
                number: <<NUMERO_CARTAO_TESTE>>
                expiryMonth: '12'
                expiryYear: '2030'
                ccv: '123'
              creditCardHolderInfo:
                name: Titular Teste
                email: titular@example.com
                cpfCnpj: '00000000000'
                postalCode: '01001000'
                addressNumber: '100'
                phone: '11900000000'
              remoteIp: 203.0.113.10
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example:
                object: payment
                id: pay_000000000001
                dateCreated: '2026-09-17'
                customer: cus_000000000001
                value: 150.0
                netValue: 148.01
                billingType: CREDIT_CARD
                status: CONFIRMED
                dueDate: '2026-09-30'
                invoiceUrl: https://sandbox.asaas.com/i/000000000001
                bankSlipUrl: https://sandbox.asaas.com/b/pdf/000000000001
                nossoNumero: '0000001'
                externalReference: PEDIDO-123
                deleted: false
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
  /v3/payments/{id}:
    get:
      operationId: asaas__cobranca__obter
      summary: Recuperar uma única cobrança
      description: 'Retorna a cobrança completa: status, valores líquidos, datas de pagamento/crédito, links de fatura/boleto, split, estornos
        (refunds) e chargeback.'
      tags:
      - Cobranca
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/recuperar-uma-unica-cobranca
      x-acao-canonica: obter
      security:
      - accessToken: []
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso no Asaas, enviado no caminho da URL.
        schema:
          type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example:
                object: payment
                id: pay_000000000001
                dateCreated: '2026-09-17'
                customer: cus_000000000001
                value: 150.0
                netValue: 148.01
                billingType: BOLETO
                status: RECEIVED
                dueDate: '2026-09-30'
                invoiceUrl: https://sandbox.asaas.com/i/000000000001
                bankSlipUrl: https://sandbox.asaas.com/b/pdf/000000000001
                nossoNumero: '0000001'
                externalReference: PEDIDO-123
                deleted: false
                paymentDate: '2026-09-25'
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
        '404':
          description: Recurso não encontrado
    put:
      operationId: asaas__cobranca__atualizar
      summary: Atualizar cobrança existente
      description: Altera forma de pagamento, valor, vencimento, descrição, juros/multa/desconto e split de uma cobrança ainda não paga.
      tags:
      - Cobranca
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/atualizar-cobranca-existente
      x-acao-canonica: atualizar
      security:
      - accessToken: []
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso no Asaas, enviado no caminho da URL.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                billingType:
                  description: 'Meio de pagamento: BOLETO, PIX, CREDIT_CARD ou UNDEFINED (o pagador escolhe na fatura).'
                  type: string
                  enum:
                  - UNDEFINED
                  - BOLETO
                  - CREDIT_CARD
                  - PIX
                value:
                  description: Valor em reais, com ponto decimal.
                  type: number
                dueDate:
                  description: Data de vencimento (AAAA-MM-DD).
                  type: string
                  format: date
                description:
                  description: Texto descritivo (até 500 caracteres onde aplicável).
                  type: string
                daysAfterDueDateToRegistrationCancellation:
                  description: 'Boleto: quantos dias após o vencimento o registro é baixado.'
                  type: integer
                externalReference:
                  description: Seu identificador interno para este registro; útil em buscas e conciliação.
                  type: string
                discount:
                  description: Objeto de desconto por pagamento antecipado.
                  type: object
                  properties:
                    value:
                      description: Valor ou percentual do desconto.
                      type: number
                    dueDateLimitDays:
                      description: Até quantos dias antes do vencimento o desconto vale (0 = até o vencimento).
                      type: integer
                    type:
                      description: FIXED (valor) ou PERCENTAGE (percentual).
                      type: string
                      enum: *id003
                interest:
                  description: Objeto de juros por atraso.
                  type: object
                  properties:
                    value:
                      description: Percentual de juros ao mês após o vencimento.
                      type: number
                fine:
                  description: Objeto de multa por atraso.
                  type: object
                  properties:
                    value:
                      description: Valor ou percentual da multa.
                      type: number
                    type:
                      description: FIXED ou PERCENTAGE.
                      type: string
                      enum: *id004
                postalService:
                  description: true para envio do boleto por Correios (serviço tarifado).
                  type: boolean
                split:
                  description: Lista de divisões do valor recebido entre carteiras Asaas.
                  type: array
                  items:
                    type: object
                    properties:
                      walletId:
                        description: walletId da conta que recebe a parte.
                        type: string
                      fixedValue:
                        description: Parte em valor fixo.
                        type: number
                      percentualValue:
                        description: Parte em percentual do valor líquido.
                        type: number
                      totalFixedValue:
                        description: 'Somente parcelamentos: valor fixo sobre o total parcelado.'
                        type: number
                      externalReference:
                        description: Seu identificador para esta divisão.
                        type: string
                      description:
                        description: Descrição da divisão.
                        type: string
                    required:
                    - walletId
                callback:
                  description: Redirecionamento do pagador após pagar a fatura.
                  type: object
                  properties:
                    successUrl:
                      description: URL de retorno após pagamento aprovado.
                      type: string
                    autoRedirect:
                      description: true redireciona automaticamente; false mostra botão.
                      type: boolean
                  required:
                  - successUrl
              required:
              - billingType
              - value
              - dueDate
            example:
              billingType: PIX
              value: 160.0
              dueDate: '2026-10-05'
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example:
                object: payment
                id: pay_000000000001
                dateCreated: '2026-09-17'
                customer: cus_000000000001
                value: 160.0
                netValue: 148.01
                billingType: PIX
                status: PENDING
                dueDate: '2026-09-30'
                invoiceUrl: https://sandbox.asaas.com/i/000000000001
                bankSlipUrl: https://sandbox.asaas.com/b/pdf/000000000001
                nossoNumero: '0000001'
                externalReference: PEDIDO-123
                deleted: false
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
        '404':
          description: Recurso não encontrado
    delete:
      operationId: asaas__cobranca__cancelar
      summary: Excluir cobrança
      description: Remove (cancela) uma cobrança; a remoção é lógica e pode ser desfeita por POST /v3/payments/{id}/restore.
      tags:
      - Cobranca
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/excluir-cobranca
      x-acao-canonica: cancelar
      security:
      - accessToken: []
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso no Asaas, enviado no caminho da URL.
        schema:
          type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example:
                deleted: true
                id: pay_000000000001
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
        '404':
          description: Recurso não encontrado
  /v3/payments/{id}/status:
    get:
      operationId: asaas__cobranca__consultar_status
      summary: Recuperar status de uma cobrança
      description: Retorna somente o campo status da cobrança — resposta leve para checagens pontuais.
      tags:
      - Cobranca
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/recuperar-status-de-uma-cobranca
      x-acao-canonica: consultar_status
      security:
      - accessToken: []
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso no Asaas, enviado no caminho da URL.
        schema:
          type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example:
                status: RECEIVED
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
        '404':
          description: Recurso não encontrado
  /v3/payments/{id}/pixQrCode:
    get:
      operationId: asaas__cobranca__obter__pix_qrcode
      summary: Obter QR Code para pagamentos via Pix
      description: 'Devolve o QR Code dinâmico da cobrança: imagem em Base64 (encodedImage), código copia-e-cola (payload) e expirationDate.'
      tags:
      - Cobranca
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/obter-qr-code-para-pagamentos-via-pix
      x-acao-canonica: obter
      security:
      - accessToken: []
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso no Asaas, enviado no caminho da URL.
        schema:
          type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example:
                encodedImage: <<BASE64_PNG>>
                payload: 00020101021226...6304ABCD
                expirationDate: '2027-09-30 23:59:59'
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
        '404':
          description: Recurso não encontrado
  /v3/payments/{id}/identificationField:
    get:
      operationId: asaas__cobranca__obter__linha_digitavel
      summary: Obter linha digitável do boleto
      description: Retorna identificationField (linha digitável), nossoNumero e barCode (código de barras) do boleto da cobrança.
      tags:
      - Cobranca
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/obter-linha-digitavel-do-boleto
      x-acao-canonica: obter
      security:
      - accessToken: []
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso no Asaas, enviado no caminho da URL.
        schema:
          type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example:
                identificationField: 00190000090000000000000000000000000000000000000
                nossoNumero: '0000001'
                barCode: 00190000000000000000000000000000000000000000
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
        '404':
          description: Recurso não encontrado
  /v3/payments/{id}/captureAuthorizedPayment:
    post:
      operationId: asaas__cobranca__autorizar__captura
      summary: Capturar cobrança com Pré-Autorização
      description: Captura uma cobrança de cartão criada com authorizeOnly=true (pré-autorização), efetivando o débito.
      tags:
      - Cobranca
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/capturar-cobranca-com-pre-autorizacao
      x-acao-canonica: autorizar
      security:
      - accessToken: []
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso no Asaas, enviado no caminho da URL.
        schema:
          type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example:
                object: payment
                id: pay_000000000001
                dateCreated: '2026-09-17'
                customer: cus_000000000001
                value: 150.0
                netValue: 148.01
                billingType: CREDIT_CARD
                status: CONFIRMED
                dueDate: '2026-09-30'
                invoiceUrl: https://sandbox.asaas.com/i/000000000001
                bankSlipUrl: https://sandbox.asaas.com/b/pdf/000000000001
                nossoNumero: '0000001'
                externalReference: PEDIDO-123
                deleted: false
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
        '404':
          description: Recurso não encontrado
  /v3/payments/{id}/refund:
    post:
      operationId: asaas__cobranca__estornar
      summary: Estornar cobrança
      description: Devolve total ou parcialmente o valor de uma cobrança recebida (Pix ou cartão), podendo indicar quanto estornar de cada split.
      tags:
      - Cobranca
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/estornar-cobranca
      x-acao-canonica: estornar
      security:
      - accessToken: []
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso no Asaas, enviado no caminho da URL.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  description: Quanto estornar; omitido = valor total (inferido).
                  type: number
                description:
                  description: Motivo do estorno.
                  type: string
                splitRefunds:
                  description: Quanto devolver de cada split.
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        description: Id do split a estornar.
                        type: string
                      value:
                        description: Valor a estornar desse split.
                        type: number
                    required:
                    - id
                    - value
            example:
              value: 50.0
              description: Devolução parcial - item avariado
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example:
                object: payment
                id: pay_000000000001
                dateCreated: '2026-09-17'
                customer: cus_000000000001
                value: 150.0
                netValue: 148.01
                billingType: BOLETO
                status: REFUND_IN_PROGRESS
                dueDate: '2026-09-30'
                invoiceUrl: https://sandbox.asaas.com/i/000000000001
                bankSlipUrl: https://sandbox.asaas.com/b/pdf/000000000001
                nossoNumero: '0000001'
                externalReference: PEDIDO-123
                deleted: false
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
        '404':
          description: Recurso não encontrado
  /v3/payments/{id}/bankSlip/refund:
    post:
      operationId: asaas__cobranca__estornar__boleto
      summary: Estornar boleto
      description: Inicia o estorno de uma cobrança paga por boleto; a resposta traz requestUrl, link onde os dados bancários para devolução são
        informados.
      tags:
      - Cobranca
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/estornar-boleto
      x-acao-canonica: estornar
      security:
      - accessToken: []
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso no Asaas, enviado no caminho da URL.
        schema:
          type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example:
                requestUrl: https://sandbox.asaas.com/refundRequest/000000000001
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
        '404':
          description: Recurso não encontrado
  /v3/payments/{id}/refunds:
    get:
      operationId: asaas__cobranca__listar__estornos
      summary: Listar estornos de uma cobrança
      description: Lista os estornos vinculados a uma cobrança, com valor, status (PENDING, CANCELLED, DONE), endToEndIdentifier e comprovante.
      tags:
      - Cobranca
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/listar-estornos-de-uma-cobranca
      x-acao-canonica: listar
      security:
      - accessToken: []
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso no Asaas, enviado no caminho da URL.
        schema:
          type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example:
                object: list
                hasMore: false
                totalCount: 1
                limit: 10
                offset: 0
                data:
                - dateCreated: '2026-09-18 10:00:00'
                  status: DONE
                  value: 50.0
                  endToEndIdentifier: null
                  transactionReceiptUrl: null
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
        '404':
          description: Recurso não encontrado
  /v3/installments:
    post:
      operationId: asaas__cobranca__criar__parcelamento
      summary: Criar parcelamento
      description: 'Gera um parcelamento: N cobranças (installmentCount) do mesmo cliente com vencimentos mensais a partir de dueDate, com split
        opcional por parcela.'
      tags:
      - Cobranca
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/criar-parcelamento
      x-acao-canonica: criar
      security:
      - accessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                installmentCount:
                  description: Quantidade de parcelas.
                  type: integer
                customer:
                  description: Id do cliente no Asaas (cus_...).
                  type: string
                value:
                  description: Valor de CADA parcela.
                  type: number
                totalValue:
                  description: Valor total a ser dividido entre as parcelas.
                  type: number
                billingType:
                  description: 'Meio de pagamento: BOLETO, PIX, CREDIT_CARD ou UNDEFINED (o pagador escolhe na fatura).'
                  type: string
                  enum:
                  - UNDEFINED
                  - BOLETO
                  - CREDIT_CARD
                  - PIX
                dueDate:
                  description: Vencimento da primeira parcela.
                  type: string
                  format: date
                description:
                  description: Texto descritivo (até 500 caracteres onde aplicável).
                  type: string
                postalService:
                  description: true para envio do boleto por Correios (serviço tarifado).
                  type: boolean
                daysAfterDueDateToRegistrationCancellation:
                  description: 'Boleto: quantos dias após o vencimento o registro é baixado.'
                  type: integer
                paymentExternalReference:
                  description: Seu identificador aplicado às cobranças do parcelamento.
                  type: string
                discount:
                  description: Objeto de desconto por pagamento antecipado.
                  type: object
                  properties:
                    value:
                      description: Valor ou percentual do desconto.
                      type: number
                    dueDateLimitDays:
                      description: Até quantos dias antes do vencimento o desconto vale (0 = até o vencimento).
                      type: integer
                    type:
                      description: FIXED (valor) ou PERCENTAGE (percentual).
                      type: string
                      enum: *id003
                interest:
                  description: Objeto de juros por atraso.
                  type: object
                  properties:
                    value:
                      description: Percentual de juros ao mês após o vencimento.
                      type: number
                fine:
                  description: Objeto de multa por atraso.
                  type: object
                  properties:
                    value:
                      description: Valor ou percentual da multa.
                      type: number
                    type:
                      description: FIXED ou PERCENTAGE.
                      type: string
                      enum: *id004
                splits:
                  description: Lista de divisões aplicadas às parcelas.
                  type: array
                  items:
                    type: object
                    properties:
                      walletId:
                        description: walletId da conta que recebe a parte.
                        type: string
                      fixedValue:
                        description: Parte em valor fixo por parcela.
                        type: number
                      percentualValue:
                        description: Parte em percentual do valor líquido.
                        type: number
                      totalFixedValue:
                        description: Valor fixo sobre o total do parcelamento.
                        type: number
                      externalReference:
                        description: Seu identificador para esta divisão.
                        type: string
                      description:
                        description: Descrição da divisão.
                        type: string
                      installmentNumber:
                        description: Parcela específica à qual a divisão se aplica.
                        type: integer
                    required:
                    - walletId
              required:
              - installmentCount
              - customer
              - value
              - billingType
              - dueDate
            example:
              customer: cus_000000000001
              billingType: BOLETO
              installmentCount: 3
              value: 100.0
              totalValue: 300.0
              dueDate: '2026-10-10'
              description: Curso anual - 3x
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example:
                object: installment
                id: 00000000-0000-0000-0000-000000000001
                value: 300.0
                installmentCount: 3
                billingType: BOLETO
                customer: cus_000000000001
                deleted: false
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
  /v3/installments/{id}:
    get:
      operationId: asaas__cobranca__obter__parcelamento
      summary: Recuperar um único parcelamento
      description: Retorna o parcelamento (valor total, líquido, número de parcelas, forma de pagamento, estornos).
      tags:
      - Cobranca
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/recuperar-um-unico-parcelamento
      x-acao-canonica: obter
      security:
      - accessToken: []
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso no Asaas, enviado no caminho da URL.
        schema:
          type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example:
                object: installment
                id: 00000000-0000-0000-0000-000000000001
                value: 300.0
                netValue: 294.0
                installmentCount: 3
                billingType: BOLETO
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
        '404':
          description: Recurso não encontrado
    delete:
      operationId: asaas__cobranca__cancelar__parcelamento
      summary: Remover parcelamento
      description: Remove o parcelamento e suas cobranças ainda não pagas (efeito exato sobre parcelas pagas não detalhado).
      tags:
      - Cobranca
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/remover-parcelamento-1
      x-acao-canonica: cancelar
      security:
      - accessToken: []
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso no Asaas, enviado no caminho da URL.
        schema:
          type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example:
                deleted: true
                id: 00000000-0000-0000-0000-000000000001
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
        '404':
          description: Recurso não encontrado
  /v3/installments/{id}/refund:
    post:
      operationId: asaas__cobranca__estornar__parcelamento
      summary: Estornar parcelamento
      description: Estorna, total ou parcialmente (value), um parcelamento pago no cartão de crédito já confirmado ou recebido.
      tags:
      - Cobranca
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/estornar-parcelamento
      x-acao-canonica: estornar
      security:
      - accessToken: []
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso no Asaas, enviado no caminho da URL.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  description: Quanto estornar do parcelamento.
                  type: number
            example:
              value: 300.0
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example:
                object: installment
                id: 00000000-0000-0000-0000-000000000001
                value: 300.0
                billingType: CREDIT_CARD
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
        '404':
          description: Recurso não encontrado
  /v3/subscriptions:
    post:
      operationId: asaas__assinatura__criar
      summary: Criar nova assinatura
      description: 'Cria uma recorrência para o cliente: valor, ciclo (WEEKLY a YEARLY), primeiro vencimento (nextDueDate) e limites opcionais
        (endDate, maxPayments). O Asaas gera as cobranças automaticamente.'
      tags:
      - Assinatura
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/criar-nova-assinatura
      x-acao-canonica: criar
      security:
      - accessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customer:
                  description: Id do cliente no Asaas (cus_...).
                  type: string
                billingType:
                  description: 'Meio de pagamento: BOLETO, PIX, CREDIT_CARD ou UNDEFINED (o pagador escolhe na fatura).'
                  type: string
                  enum:
                  - UNDEFINED
                  - BOLETO
                  - CREDIT_CARD
                  - PIX
                value:
                  description: Valor em reais, com ponto decimal.
                  type: number
                nextDueDate:
                  description: Vencimento da primeira (ou próxima) cobrança.
                  type: string
                  format: date
                discount:
                  description: Objeto de desconto por pagamento antecipado.
                  type: object
                  properties:
                    value:
                      description: Valor ou percentual do desconto.
                      type: number
                    dueDateLimitDays:
                      description: Até quantos dias antes do vencimento o desconto vale (0 = até o vencimento).
                      type: integer
                    type:
                      description: FIXED (valor) ou PERCENTAGE (percentual).
                      type: string
                      enum: *id003
                interest:
                  description: Objeto de juros por atraso.
                  type: object
                  properties:
                    value:
                      description: Percentual de juros ao mês após o vencimento.
                      type: number
                fine:
                  description: Objeto de multa por atraso.
                  type: object
                  properties:
                    value:
                      description: Valor ou percentual da multa.
                      type: number
                    type:
                      description: FIXED ou PERCENTAGE.
                      type: string
                      enum: *id004
                cycle:
                  description: 'Periodicidade: WEEKLY, BIWEEKLY, MONTHLY, BIMONTHLY, QUARTERLY, SEMIANNUALLY ou YEARLY.'
                  type: string
                  enum:
                  - WEEKLY
                  - BIWEEKLY
                  - MONTHLY
                  - BIMONTHLY
                  - QUARTERLY
                  - SEMIANNUALLY
                  - YEARLY
                description:
                  description: Texto descritivo (até 500 caracteres onde aplicável).
                  type: string
                endDate:
                  description: Último vencimento permitido para a recorrência.
                  type: string
                  format: date
                maxPayments:
                  description: Limite de cobranças que a assinatura pode gerar.
                  type: integer
                externalReference:
                  description: Seu identificador interno para este registro; útil em buscas e conciliação.
                  type: string
                split:
                  description: Lista de divisões do valor recebido entre carteiras Asaas.
                  type: array
                  items:
                    type: object
                    properties:
                      walletId:
                        description: walletId da conta que recebe a parte.
                        type: string
                      fixedValue:
                        description: Parte em valor fixo.
                        type: number
                      percentualValue:
                        description: Parte em percentual do valor líquido.
                        type: number
                      externalReference:
                        description: Seu identificador para esta divisão.
                        type: string
                      description:
                        description: Descrição da divisão.
                        type: string
                    required:
                    - walletId
                callback:
                  description: Redirecionamento do pagador após pagar a fatura.
                  type: object
                  properties:
                    successUrl:
                      description: URL de retorno após pagamento aprovado.
                      type: string
                    autoRedirect:
                      description: true redireciona automaticamente; false mostra botão.
                      type: boolean
                  required:
                  - successUrl
              required:
              - customer
              - billingType
              - value
              - nextDueDate
              - cycle
            example:
              customer: cus_000000000001
              billingType: PIX
              value: 99.9
              nextDueDate: '2026-10-05'
              cycle: MONTHLY
              description: Plano Pro
              externalReference: CONTRATO-9
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example: &id005
                object: subscription
                id: sub_000000000001
                customer: cus_000000000001
                billingType: PIX
                cycle: MONTHLY
                value: 99.9
                nextDueDate: '2026-10-05'
                status: ACTIVE
                deleted: false
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
    get:
      operationId: asaas__assinatura__listar
      summary: Listar assinaturas
      description: Lista assinaturas com filtros por cliente, grupo, forma de pagamento, status (ACTIVE, EXPIRED, INACTIVE), removidas e externalReference.
      tags:
      - Assinatura
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/listar-assinaturas
      x-acao-canonica: listar
      security:
      - accessToken: []
      parameters:
      - name: offset
        in: query
        required: false
        description: Posição inicial da página (começa em 0).
        schema:
          type: integer
      - name: limit
        in: query
        required: false
        description: Tamanho da página; 1 a 100, padrão 10.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
      - name: customer
        in: query
        required: false
        description: Filtra pelo cliente.
        schema:
          type: string
      - name: customerGroupName
        in: query
        required: false
        description: Filtra pelo grupo de clientes.
        schema:
          type: string
      - name: billingType
        in: query
        required: false
        description: Filtra por meio de pagamento.
        schema:
          type: string
          enum:
          - UNDEFINED
          - BOLETO
          - CREDIT_CARD
          - DEBIT_CARD
          - TRANSFER
          - DEPOSIT
          - PIX
      - name: status
        in: query
        required: false
        description: Situação do registro (valores no enum).
        schema:
          type: string
          enum:
          - ACTIVE
          - EXPIRED
          - INACTIVE
      - name: deletedOnly
        in: query
        required: false
        description: '''true'' retorna só assinaturas removidas.'
        schema:
          type: string
      - name: includeDeleted
        in: query
        required: false
        description: '''true'' inclui assinaturas removidas.'
        schema:
          type: string
      - name: externalReference
        in: query
        required: false
        description: Filtra pelo seu identificador.
        schema:
          type: string
      - name: order
        in: query
        required: false
        description: Direção da ordenação (asc/desc).
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Campo usado na ordenação.
        schema:
          type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example:
                object: list
                hasMore: false
                totalCount: 1
                limit: 10
                offset: 0
                data:
                - *id005
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
  /v3/subscriptions/:
    post:
      operationId: asaas__assinatura__criar__cartao_credito
      summary: Criar assinatura com cartão de crédito
      description: Cria a assinatura já vinculando o cartão (creditCard + creditCardHolderInfo ou creditCardToken); a primeira cobrança é processada
        no cartão.
      tags:
      - Assinatura
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/criar-assinatura-com-cartao-de-credito
      x-acao-canonica: criar
      security:
      - accessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customer:
                  description: Id do cliente no Asaas (cus_...).
                  type: string
                billingType:
                  description: 'Meio de pagamento: BOLETO, PIX, CREDIT_CARD ou UNDEFINED (o pagador escolhe na fatura).'
                  type: string
                  enum:
                  - UNDEFINED
                  - BOLETO
                  - CREDIT_CARD
                  - PIX
                value:
                  description: Valor em reais, com ponto decimal.
                  type: number
                nextDueDate:
                  description: Vencimento da primeira (ou próxima) cobrança.
                  type: string
                  format: date
                discount:
                  description: Objeto de desconto por pagamento antecipado.
                  type: object
                  properties:
                    value:
                      description: Valor ou percentual do desconto.
                      type: number
                    dueDateLimitDays:
                      description: Até quantos dias antes do vencimento o desconto vale (0 = até o vencimento).
                      type: integer
                    type:
                      description: FIXED (valor) ou PERCENTAGE (percentual).
                      type: string
                      enum: *id003
                interest:
                  description: Objeto de juros por atraso.
                  type: object
                  properties:
                    value:
                      description: Percentual de juros ao mês após o vencimento.
                      type: number
                fine:
                  description: Objeto de multa por atraso.
                  type: object
                  properties:
                    value:
                      description: Valor ou percentual da multa.
                      type: number
                    type:
                      description: FIXED ou PERCENTAGE.
                      type: string
                      enum: *id004
                cycle:
                  description: 'Periodicidade: WEEKLY, BIWEEKLY, MONTHLY, BIMONTHLY, QUARTERLY, SEMIANNUALLY ou YEARLY.'
                  type: string
                  enum:
                  - WEEKLY
                  - BIWEEKLY
                  - MONTHLY
                  - BIMONTHLY
                  - QUARTERLY
                  - SEMIANNUALLY
                  - YEARLY
                description:
                  description: Texto descritivo (até 500 caracteres onde aplicável).
                  type: string
                endDate:
                  description: Último vencimento permitido para a recorrência.
                  type: string
                  format: date
                maxPayments:
                  description: Limite de cobranças que a assinatura pode gerar.
                  type: integer
                externalReference:
                  description: Seu identificador interno para este registro; útil em buscas e conciliação.
                  type: string
                split:
                  description: Lista de divisões do valor recebido entre carteiras Asaas.
                  type: array
                  items:
                    type: object
                    properties:
                      walletId:
                        description: walletId da conta que recebe a parte.
                        type: string
                      fixedValue:
                        description: Parte em valor fixo.
                        type: number
                      percentualValue:
                        description: Parte em percentual do valor líquido.
                        type: number
                      externalReference:
                        description: Seu identificador para esta divisão.
                        type: string
                      description:
                        description: Descrição da divisão.
                        type: string
                    required:
                    - walletId
                callback:
                  description: Redirecionamento do pagador após pagar a fatura.
                  type: object
                  properties:
                    successUrl:
                      description: URL de retorno após pagamento aprovado.
                      type: string
                    autoRedirect:
                      description: true redireciona automaticamente; false mostra botão.
                      type: boolean
                  required:
                  - successUrl
                creditCard:
                  description: Dados do cartão (tráfego exige ambiente PCI-DSS).
                  type: object
                  properties:
                    holderName:
                      description: Nome como impresso no cartão.
                      type: string
                    number:
                      description: Número do cartão.
                      type: string
                    expiryMonth:
                      description: Mês de validade com 2 dígitos.
                      type: string
                    expiryYear:
                      description: Ano de validade com 4 dígitos.
                      type: string
                    ccv:
                      description: Código de segurança.
                      type: string
                  required:
                  - holderName
                  - number
                  - expiryMonth
                  - expiryYear
                  - ccv
                creditCardHolderInfo:
                  description: Dados do titular do cartão para antifraude.
                  type: object
                  properties:
                    name:
                      description: Nome do titular.
                      type: string
                    email:
                      description: E-mail do titular.
                      type: string
                    cpfCnpj:
                      description: CPF/CNPJ do titular.
                      type: string
                    postalCode:
                      description: CEP do titular.
                      type: string
                    addressNumber:
                      description: Número do endereço do titular.
                      type: string
                    addressComplement:
                      description: Complemento do endereço do titular.
                      type: string
                    phone:
                      description: Telefone com DDD do titular.
                      type: string
                    mobilePhone:
                      description: Celular do titular.
                      type: string
                  required:
                  - name
                  - email
                  - cpfCnpj
                  - postalCode
                  - addressNumber
                  - phone
                creditCardToken:
                  description: Token de cartão obtido na tokenização (substitui os dados do cartão).
                  type: string
                remoteIp:
                  description: IP público do comprador (não o do servidor).
                  type: string
              required:
              - customer
              - billingType
              - value
              - nextDueDate
              - cycle
              - creditCard
              - creditCardHolderInfo
              - remoteIp
            example:
              customer: cus_000000000001
              billingType: CREDIT_CARD
              value: 49.9
              nextDueDate: '2026-09-17'
              cycle: MONTHLY
              creditCardToken: <<CREDIT_CARD_TOKEN>>
              remoteIp: 203.0.113.10
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example:
                object: subscription
                id: sub_000000000001
                customer: cus_000000000001
                billingType: CREDIT_CARD
                cycle: MONTHLY
                value: 49.9
                nextDueDate: '2026-10-05'
                status: ACTIVE
                deleted: false
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
  /v3/subscriptions/{id}:
    get:
      operationId: asaas__assinatura__obter
      summary: Recuperar uma única assinatura
      description: Retorna a assinatura com ciclo, valor, próximo vencimento, status e split.
      tags:
      - Assinatura
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/recuperar-uma-unica-assinatura
      x-acao-canonica: obter
      security:
      - accessToken: []
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso no Asaas, enviado no caminho da URL.
        schema:
          type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example: *id005
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
        '404':
          description: Recurso não encontrado
    put:
      operationId: asaas__assinatura__atualizar
      summary: Atualizar assinatura existente
      description: Altera valor, ciclo, forma de pagamento, próximo vencimento, status (ACTIVE/INACTIVE) e split; com updatePendingPayments=true
        propaga para cobranças pendentes.
      tags:
      - Assinatura
      x-confianca: inferido
      x-fonte-url: https://docs.asaas.com/reference/atualizar-assinatura-existente
      x-acao-canonica: atualizar
      security:
      - accessToken: []
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso no Asaas, enviado no caminho da URL.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                billingType:
                  description: 'Meio de pagamento: BOLETO, PIX, CREDIT_CARD ou UNDEFINED (o pagador escolhe na fatura).'
                  type: string
                  enum:
                  - UNDEFINED
                  - BOLETO
                  - CREDIT_CARD
                  - PIX
                status:
                  description: Situação do registro (valores no enum).
                  type: string
                  enum:
                  - ACTIVE
                  - INACTIVE
                nextDueDate:
                  description: Vencimento da primeira (ou próxima) cobrança.
                  type: string
                  format: date
                discount:
                  description: Objeto de desconto por pagamento antecipado.
                  type: object
                  properties:
                    value:
                      description: Valor ou percentual do desconto.
                      type: number
                    dueDateLimitDays:
                      description: Até quantos dias antes do vencimento o desconto vale (0 = até o vencimento).
                      type: integer
                    type:
                      description: FIXED (valor) ou PERCENTAGE (percentual).
                      type: string
                      enum: *id003
                interest:
                  description: Objeto de juros por atraso.
                  type: object
                  properties:
                    value:
                      description: Percentual de juros ao mês após o vencimento.
                      type: number
                fine:
                  description: Objeto de multa por atraso.
                  type: object
                  properties:
                    value:
                      description: Valor ou percentual da multa.
                      type: number
                    type:
                      description: FIXED ou PERCENTAGE.
                      type: string
                      enum: *id004
                cycle:
                  description: 'Periodicidade: WEEKLY, BIWEEKLY, MONTHLY, BIMONTHLY, QUARTERLY, SEMIANNUALLY ou YEARLY.'
                  type: string
                  enum:
                  - WEEKLY
                  - BIWEEKLY
                  - MONTHLY
                  - BIMONTHLY
                  - QUARTERLY
                  - SEMIANNUALLY
                  - YEARLY
                description:
                  description: Texto descritivo (até 500 caracteres onde aplicável).
                  type: string
                endDate:
                  description: Último vencimento permitido para a recorrência.
                  type: string
                  format: date
                updatePendingPayments:
                  description: true aplica a alteração também às cobranças pendentes.
                  type: boolean
                externalReference:
                  description: Seu identificador interno para este registro; útil em buscas e conciliação.
                  type: string
                split:
                  description: Lista de divisões do valor recebido entre carteiras Asaas.
                  type: array
                  items:
                    type: object
                    properties:
                      walletId:
                        description: walletId da conta que recebe a parte.
                        type: string
                      fixedValue:
                        description: Parte em valor fixo.
                        type: number
                      percentualValue:
                        description: Parte em percentual do valor líquido.
                        type: number
                      externalReference:
                        description: Seu identificador para esta divisão.
                        type: string
                      description:
                        description: Descrição da divisão.
                        type: string
                    required:
                    - walletId
                callback:
                  description: Redirecionamento do pagador após pagar a fatura.
                  type: object
                  properties:
                    successUrl:
                      description: URL de retorno após pagamento aprovado.
                      type: string
                    autoRedirect:
                      description: true redireciona automaticamente; false mostra botão.
                      type: boolean
                  required:
                  - successUrl
            example:
              value: 129.9
              updatePendingPayments: true
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example:
                object: subscription
                id: sub_000000000001
                customer: cus_000000000001
                billingType: PIX
                cycle: MONTHLY
                value: 129.9
                nextDueDate: '2026-10-05'
                status: ACTIVE
                deleted: false
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
        '404':
          description: Recurso não encontrado
    delete:
      operationId: asaas__assinatura__cancelar
      summary: Remover assinatura
      description: Remove a assinatura, interrompendo a geração de novas cobranças.
      tags:
      - Assinatura
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/remover-assinatura
      x-acao-canonica: cancelar
      security:
      - accessToken: []
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso no Asaas, enviado no caminho da URL.
        schema:
          type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example:
                deleted: true
                id: sub_000000000001
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
        '404':
          description: Recurso não encontrado
  /v3/subscriptions/{id}/payments:
    get:
      operationId: asaas__cobranca__listar__assinatura
      summary: Listar cobranças de uma assinatura
      description: Lista as cobranças geradas por uma assinatura, com filtro por status.
      tags:
      - Cobranca
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/listar-cobrancas-de-uma-assinatura
      x-acao-canonica: listar
      security:
      - accessToken: []
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador do recurso no Asaas, enviado no caminho da URL.
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: Filtra as cobranças por status.
        schema:
          type: string
          enum:
          - PENDING
          - RECEIVED
          - CONFIRMED
          - OVERDUE
          - REFUNDED
          - RECEIVED_IN_CASH
          - REFUND_REQUESTED
          - REFUND_IN_PROGRESS
          - CHARGEBACK_REQUESTED
          - CHARGEBACK_DISPUTE
          - AWAITING_CHARGEBACK_REVERSAL
          - DUNNING_REQUESTED
          - DUNNING_RECEIVED
          - AWAITING_RISK_ANALYSIS
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
              example:
                object: list
                hasMore: false
                totalCount: 1
                limit: 10
                offset: 0
                data:
                - object: payment
                  id: pay_000000000001
                  dateCreated: '2026-09-17'
                  customer: cus_000000000001
                  value: 150.0
                  netValue: 148.01
                  billingType: PIX
                  status: PENDING
                  dueDate: '2026-09-30'
                  invoiceUrl: https://sandbox.asaas.com/i/000000000001
                  bankSlipUrl: https://sandbox.asaas.com/b/pdf/000000000001
                  nossoNumero: '0000001'
                  externalReference: PEDIDO-123
                  deleted: false
        '400':
          $ref: '#/components/responses/Erro'
        '401':
          $ref: '#/components/responses/Erro'
        '429':
          description: Limite de requisições atingido
        '404':
          description: Recurso não encontrado
  /v3/pix/addressKeys:
    post:
      operationId: asaas__empresa__criar__chave_pix
      summary: Criar uma chave
      description: Cadastra uma chave Pix aleatória (type=EVP) na conta Asaas.
      tags:
      - Empresa
      x-confianca: verificado
      x-fonte-url: https://docs.asaas.com/reference/criar-uma-chave
      x-acao-canonica: criar
      security:
      - accessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  description: Tipo da chave; só EVP (aleatória) é aceito.
                  type: string
                  enum:
                  - EVP
              required:
              - type
            example:
              type: EVP
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
[...]
