openapi: 3.1.0
info:
  title: PlugNotas (Tecnospeed) - catálogo
  version: 2.4.2
  description: Reconstrução do catálogo a partir da especificação oficial publicada em https://docs.plugnotas.com.br/api.json
    (info.version 2.4.2, consulta em 2026-09-17). Contém os endpoints detalhados do catálogo; os demais estão em endpoints.json
    > endpoints_secundarios. Autenticação por cabeçalho x-api-key.
  contact:
    name: TecnoSpeed S/A - PlugNotas
    url: https://docs.plugnotas.com.br/
servers:
- url: https://api.plugnotas.com.br
  description: Produção (também usada para homologação fiscal, via flag config.producao da empresa)
- url: https://api.sandbox.plugnotas.com.br
  description: Sandbox (mock, token fixo público, não chega à SEFAZ nem à prefeitura)
security:
- xApiKey: []
components:
  securitySchemes:
    xApiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Token da organização, sem prefixo.
paths:
  /nfse/cidades:
    get:
      operationId: plugnotas__tabela_auxiliar__listar__cidades
      summary: Consultar todos os municípios atendidos e metadados
      description: 'Devolve a lista inteira dos municípios em que o PlugNotas consegue emitir NFS-e, cada um com o padrão
        do fornecedor da prefeitura (ABRASF, DSF, INFISC, sistemas próprios) e com as particularidades que mudam a integração:
        se exige certificado digital, se exige login e senha do portal, se aceita cancelamento por webservice, tamanho máximo
        da discriminação do serviço e fuso horário.


        Quando usar: Use antes de prometer emissão de NFS-e para um cliente novo, e para montar no seu produto uma tela de
        ''municípios atendidos''. É a lista completa; para um município só, prefira a consulta por código IBGE, que é bem
        mais barata.'
      tags:
      - TabelaAuxiliar
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/getCidade
      x-entidade-canonica: TabelaAuxiliar
      x-acao-canonica: listar
      x-seguro-para-executar: true
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"[]": {"id": "number (código IBGE)", "nome": "string", "uf": "string", "padrao": "string",
                  "certificado": "boolean", "login": "boolean", "senha": "boolean", "cancelamento": "boolean", "substituicao":
                  "boolean", "upload": "boolean", "fuso": "string", "padraoNacional": {"producao": "boolean", "homologacao":
                  "boolean"}}}'
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '500':
          description: 'erro_interno: Ocorreu um erro interno, nossa equipe já foi notificada do problema.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
  /nfse/cidades/{codigoIbge}:
    get:
      operationId: plugnotas__tabela_auxiliar__obter__cidade
      summary: Consultar disponibilidade do município e metadados
      description: 'Informa se um município específico já está homologado para NFS-e no PlugNotas e devolve os metadados dele:
        padrão da prefeitura, exigência de certificado e de credenciais do portal, suporte a cancelamento e substituição,
        limites de texto e disponibilidade no Ambiente Nacional.


        Quando usar: É o primeiro passo de qualquer integração de NFS-e: rode esta consulta com o código IBGE do prestador
        antes de montar o payload, porque é daqui que sai a resposta para ''preciso de certificado?'' e ''dá para cancelar
        por API?''. Município ainda não homologado responde HTTP 400 com o nome da cidade.'
      tags:
      - TabelaAuxiliar
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/getCidadeById
      x-entidade-canonica: TabelaAuxiliar
      x-acao-canonica: obter
      x-seguro-para-executar: true
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"id": "number", "nome": "string", "uf": "string", "padrao": "string", "certificado": "boolean",
                  "login": "boolean", "senha": "boolean", "cancelamento": "boolean", "substituicao": "boolean", "lote": {"max":
                  "number", "numeracaoAutomatica": "boolean"}, "detalhesEmissao": {"tamanhoMaxDescricao": "number"}, "metodosDisponiveis":
                  {"envioSincrono": "boolean", "envioLote": "boolean", "consultaNfse": "boolean"}}'
        '400':
          description: 'cidade_nao_homologada: A cidade vinculada ao código IBGE utilizado ainda não foi homologada.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '404':
          description: 'nao_encontrado: Não localizamos qualquer <recurso> com os parâmetros informados.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
      parameters:
      - name: codigoIbge
        in: path
        required: true
        description: Código IBGE do município, com 7 dígitos.
        schema:
          type: string
          pattern: ^[0-9]{7}$
          description: Código IBGE do município, com 7 dígitos.
  /cep/{cep}:
    get:
      operationId: plugnotas__endereco__obter__cep
      summary: Consultar endereço através do CEP
      description: 'Traduz um CEP em logradouro, complemento, bairro, município, UF e código IBGE do município. É uma conveniência
        para preencher o endereço do tomador ou do destinatário já no formato que o PlugNotas espera, inclusive com o código
        IBGE que a nota exige.


        Quando usar: Use no cadastro de clientes e antes de montar a nota, para não tomar rejeição por município ou CEP inconsistente.
        A documentação avisa que por trás há uma API de terceiros, então não conte com disponibilidade garantida nem faça
        disso um caminho crítico.'
      tags:
      - Endereco
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/get-cep
      x-entidade-canonica: Endereco
      x-acao-canonica: obter
      x-seguro-para-executar: true
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"cep": "string", "logradouro": "string", "complemento": "string", "bairro": "string", "municipio":
                  "string", "uf": "string", "ibge": "string"}'
        '400':
          description: 'cep_invalido: O CEP utilizado na consulta é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '500':
          description: 'erro_interno: Ocorreu um erro interno, nossa equipe já foi notificada do problema.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
      parameters:
      - name: cep
        in: path
        required: true
        description: CEP com 8 dígitos, sem máscara.
        schema:
          type: string
          pattern: ^[0-9]{8}$
          description: CEP com 8 dígitos, sem máscara.
  /cnpj/{cnpj}:
    get:
      operationId: plugnotas__pessoa__obter__cnpj
      summary: Consultar dados do CNPJ
      description: 'Consulta o cadastro de um CNPJ na Receita Federal e devolve razão social, nome fantasia, situação cadastral,
        natureza jurídica, capital social, endereço completo, telefone, e-mail, CNAEs e a lista de sócios. Se o CNPJ foi atualizado
        há menos de 30 dias, a resposta vem do cache do PlugNotas (campo cached).


        Quando usar: Serve para preencher e conferir o cadastro do emitente ou do destinatário antes de emitir. Cuidado: a
        resposta traz nomes de sócios, que são dado pessoal — só consulte com base legal e não guarde o que não vai usar.
        Outra armadilha: rejeição da Receita não vira erro HTTP, vem com status 200 e uma mensagem no corpo.'
      tags:
      - Pessoa
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/get-cnpj
      x-entidade-canonica: Pessoa
      x-acao-canonica: obter
      x-seguro-para-executar: true
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"status": "string", "cpf_cnpj": "string", "razao_social": "string", "nome": "string", "tipo":
                  "string (MATRIZ|FILIAL)", "situacao": "string", "data_situacao": "string", "data_abertura": "string", "natureza_juridica":
                  "string", "capital_social": "string", "telefone": "string", "email": "string", "cached": "boolean", "endereco":
                  {"cep": "string", "logradouro": "string", "numero": "string", "bairro": "string", "municipio": "string",
                  "uf": "string"}, "socios": [{"nome": "string", "qualificacao": "string"}], "atividades": [{"codigo": "string",
                  "descricao": "string", "tipo": "string"}]}'
        '400':
          description: 'cnpj_invalido: O CNPJ utilizado na operação é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '500':
          description: 'erro_interno: Ocorreu um erro interno, nossa equipe já foi notificada do problema.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
      parameters:
      - name: cnpj
        in: path
        required: true
        description: CNPJ com 14 dígitos, sem máscara.
        schema:
          type: string
          pattern: ^[0-9]{14}$
          description: CNPJ com 14 dígitos, sem máscara.
  /calculadora/versao:
    get:
      operationId: plugnotas__tabela_auxiliar__obter__versao_calculadora
      summary: Consultar versão da calculadora de tributos
      description: 'Devolve a versão da calculadora de tributos que o PlugNotas está usando e a versão publicada pela SEFAZ,
        tanto da aplicação quanto da base de dados. Serve para descobrir se o cálculo do ambiente está defasado em relação
        ao que o fisco publicou.


        Quando usar: Consulte ao investigar divergência de imposto calculado, especialmente durante a Reforma Tributária,
        quando as tabelas mudam com frequência. Se versaoDbLocal estiver atrás de versaoDbRemota, a diferença de cálculo pode
        ser justamente essa.'
      tags:
      - TabelaAuxiliar
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/get-calculadora-versao
      x-entidade-canonica: TabelaAuxiliar
      x-acao-canonica: obter
      x-seguro-para-executar: true
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"versaoAplicacaoLocal": "string", "versaoAplicacaoEstavel": "string", "versaoAplicacaoRemota":
                  "string", "versaoDbLocal": "string", "versaoDbLocalEstavel": "string", "versaoDbRemota": "string"}'
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '500':
          description: 'erro_interno: Ocorreu um erro interno, nossa equipe já foi notificada do problema.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
  /certificado:
    get:
      operationId: plugnotas__empresa__listar__certificado
      summary: Consultar certificados
      description: 'Lista todos os certificados digitais cadastrados na organização, com identificador interno, nome do titular
        (o campo nome traz o distinguished name do certificado ICP-Brasil), hash, CNPJ, e-mail de aviso e data de vencimento.


        Quando usar: É o relatório de vencimento de certificados de uma software house: rode periodicamente e avise o cliente
        antes de o certificado expirar, porque certificado vencido derruba a emissão de todos os documentos daquele CNPJ.'
      tags:
      - Empresa
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/get-certificado
      x-entidade-canonica: Empresa
      x-acao-canonica: listar
      x-seguro-para-executar: true
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"[]": {"id": "string", "nome": "string (DN do certificado)", "hash": "string", "vencimento":
                  "string (DD/MM/AAAA HH:mm:ss)", "email": "string", "cnpj": "string", "cadastro": "string (ISO-8601)"}}'
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '500':
          description: 'erro_interno: Ocorreu um erro interno, nossa equipe já foi notificada do problema.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
    post:
      operationId: plugnotas__empresa__criar__certificado
      summary: Cadastro de certificado
      description: 'Envia o arquivo do certificado digital A1 (.pfx/.p12) e a senha, em multipart/form-data, e devolve o identificador
        que será usado no cadastro da empresa. Um mesmo identificador pode ser reaproveitado por várias empresas quando matriz
        e filiais compartilham o certificado.


        Quando usar: É o primeiro passo do onboarding de um emitente novo. Guarde o id devolvido: ele vai no campo certificado
        do cadastro de empresa. Não é leitura e o assistente não executa: envie você mesmo, porque a operação trafega a senha
        do certificado.'
      tags:
      - Empresa
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/post-certificado
      x-entidade-canonica: Empresa
      x-acao-canonica: criar
      x-seguro-para-executar: false
      responses:
        '201':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"message": "string", "data": {"id": "string"}}'
        '400':
          description: 'senha_incorreta: A senha utilizada na tentativa de upload do Certificado está incorreta.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '500':
          description: 'erro_interno: Ocorreu um erro interno, nossa equipe já foi notificada do problema.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                arquivo:
                  type: string
                  format: binary
                  description: Arquivo do certificado A1 em formato PFX/P12, enviado como parte de multipart/form-data.
                senha:
                  type: string
                  description: 'Senha do certificado. Segredo: nunca registre em log nem em planilha.'
                email:
                  type: string
                  description: E-mail que receberá avisos de vencimento do certificado.
              required:
              - arquivo
              - senha
  /certificado/{idCertificadoOrCpfCnpj}:
    get:
      operationId: plugnotas__empresa__obter__certificado
      summary: Consultar um certificado específico
      description: 'Devolve os dados de um certificado já cadastrado, buscando pelo identificador interno ou pelo CPF/CNPJ
        do titular. Traz os mesmos campos da listagem, sem o arquivo e sem a senha.


        Quando usar: Use quando já tem o CNPJ do cliente e quer saber, na hora, se existe certificado cadastrado e quando
        ele vence — por exemplo, na tela de diagnóstico do seu suporte.'
      tags:
      - Empresa
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/get-certificado-idCertificado
      x-entidade-canonica: Empresa
      x-acao-canonica: obter
      x-seguro-para-executar: true
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"id": "string", "nome": "string", "hash": "string", "vencimento": "string", "email": "string",
                  "cnpj": "string", "cadastro": "string"}'
        '404':
          description: 'nao_encontrado: Não localizamos qualquer <recurso> com os parâmetros informados.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '500':
          description: 'erro_interno: Ocorreu um erro interno, nossa equipe já foi notificada do problema.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
      parameters:
      - name: idCertificadoOrCpfCnpj
        in: path
        required: true
        description: Identificador do certificado devolvido no cadastro, ou o CPF/CNPJ do titular.
        schema:
          type: string
          description: Identificador do certificado devolvido no cadastro, ou o CPF/CNPJ do titular.
  /certificado/{idCertificado}:
    put:
      operationId: plugnotas__empresa__substituir__certificado
      summary: Alterar certificado
      description: 'Substitui o arquivo de um certificado já cadastrado, mantendo o vínculo com todas as empresas que o usavam.
        A resposta traz o id de um novo registro de certificado criado internamente.


        Quando usar: É a rota da renovação anual: com certificado compartilhado entre matriz e filiais, troca-se o arquivo
        em um lugar só, sem editar empresa por empresa. Operação de escrita sensível — o assistente não executa.'
      tags:
      - Empresa
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/updateCertificado
      x-entidade-canonica: Empresa
      x-acao-canonica: substituir
      x-seguro-para-executar: false
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"message": "string", "data": {"id": "string"}}'
        '400':
          description: 'senha_incorreta: A senha utilizada na tentativa de upload do Certificado está incorreta.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '404':
          description: 'nao_encontrado: Não localizamos qualquer <recurso> com os parâmetros informados.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
      parameters:
      - name: idCertificado
        in: path
        required: true
        description: Identificador do certificado que será substituído.
        schema:
          type: string
          description: Identificador do certificado que será substituído.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                arquivo:
                  type: string
                  format: binary
                  description: Novo arquivo do certificado A1, em multipart/form-data.
                senha:
                  type: string
                  description: Senha do novo certificado.
                email:
                  type: string
                  description: E-mail para avisos de vencimento.
              required:
              - arquivo
              - senha
    delete:
      operationId: plugnotas__empresa__excluir__certificado
      summary: Deletar um certificado
      description: 'Remove um certificado digital cadastrado na organização.


        Quando usar: Use só em limpeza de cadastro, depois de confirmar que nenhuma empresa ativa aponta para esse certificado.
        Excluir um certificado em uso derruba a emissão. O assistente não executa exclusões.'
      tags:
      - Empresa
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/delete-certificado-idCertificado
      x-entidade-canonica: Empresa
      x-acao-canonica: excluir
      x-seguro-para-executar: false
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"message": "string", "data": {"id": "string"}}'
        '404':
          description: 'nao_encontrado: Não localizamos qualquer <recurso> com os parâmetros informados.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
      parameters:
      - name: idCertificado
        in: path
        required: true
        description: Identificador do certificado a excluir.
        schema:
          type: string
          description: Identificador do certificado a excluir.
  /empresa:
    get:
      operationId: plugnotas__empresa__listar
      summary: Consultar empresas
      description: 'Lista as empresas emitentes vinculadas à organização, com o cadastro completo de cada uma: dados fiscais,
        endereço, certificado vinculado, regime tributário e os blocos de configuração por documento (nfse, nfe, nfce, mdfe,
        nfcom), incluindo a flag de produção, numeração de séries e configuração de e-mail. Pagina por hashProximaPagina,
        com até 150 registros por página.


        Quando usar: É o inventário da carteira de uma software house: quais CNPJs estão cadastrados, quais documentos estão
        ativos em cada um, quem já está em produção e quem ainda está em homologação. Excelente base para planilha de gestão.
        Atenção: no Sandbox esta rota não existe e responde ''Não implementado no ambiente do Sandbox''.'
      tags:
      - Empresa
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/getEmpresas
      x-entidade-canonica: Empresa
      x-acao-canonica: listar
      x-seguro-para-executar: true
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"[]": {"cpfCnpj": "string", "razaoSocial": "string", "nomeFantasia": "string", "inscricaoMunicipal":
                  "string", "inscricaoEstadual": "string", "certificado": "string (id do certificado)", "simplesNacional":
                  "boolean", "regimeTributario": "integer", "regimeTributarioEspecial": "integer", "email": "string", "endereco":
                  {"cep": "string", "codigoCidade": "string", "estado": "string"}, "nfse": {"ativo": "boolean", "tipoContrato":
                  "integer", "config": {"producao": "boolean", "nfseNacional": "boolean"}}, "nfe": {"ativo": "boolean", "config":
                  {"producao": "boolean", "dfe": "object", "numeracaoAutomatica": "boolean"}}, "nfce": {"ativo": "boolean",
                  "config": {"producao": "boolean"}}}}'
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '500':
          description: 'erro_interno: Ocorreu um erro interno, nossa equipe já foi notificada do problema.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
      parameters:
      - name: hashProximaPagina
        in: query
        required: false
        description: Cursor devolvido pela página anterior; omita na primeira chamada.
        schema:
          type: string
          description: Cursor devolvido pela página anterior; omita na primeira chamada.
    post:
      operationId: plugnotas__empresa__criar
      summary: Cadastrar empresa
      description: 'Cadastra um emitente/prestador na organização, com dados fiscais, endereço, certificado vinculado e a
        ativação de cada documento (nfse, nfe, nfce, mdfe, nfcom) com sua configuração. As validações são dinâmicas: dependendo
        do documento e do município, passam a ser obrigatórios inscrição municipal, inscrição estadual, certificado digital
        ou as credenciais de acesso à prefeitura.


        Quando usar: É o onboarding de um cliente novo da software house, feito por API em vez de tela. Rode antes GET /nfse/cidades/{codigoIbge}
        para saber o que aquele município exige. Escrita: o assistente entrega o código, quem executa é o cliente.'
      tags:
      - Empresa
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/addCompany
      x-entidade-canonica: Empresa
      x-acao-canonica: criar
      x-seguro-para-executar: false
      responses:
        '201':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"message": "string", "data": {"cnpj": "string"}}'
        '400':
          description: 'falha_validacao_empresa: Falha na validação do JSON de Empresa.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '409':
          description: 'duplicidade: Já existe um(a) <recurso> com os parâmetros informados.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cpfCnpj:
                  type: string
                  description: CPF ou CNPJ do emitente, sem máscara.
                razaoSocial:
                  type: string
                  description: Razão social do emitente.
                nomeFantasia:
                  type: string
                  description: Nome fantasia.
                inscricaoMunicipal:
                  type: string
                  description: Inscrição municipal; obrigatória em boa parte dos municípios de NFS-e.
                inscricaoEstadual:
                  type: string
                  description: Inscrição estadual; obrigatória para NF-e/NFC-e.
                certificado:
                  type: string
                  description: Identificador do certificado digital devolvido por POST /certificado.
                simplesNacional:
                  type: boolean
                  description: Indica se o emitente é optante pelo Simples Nacional.
                regimeTributario:
                  type: integer
                  description: Código do regime tributário do emitente.
                regimeTributarioEspecial:
                  type: integer
                  description: Código do regime tributário especial usado na NFS-e.
                incentivoFiscal:
                  type: boolean
                  description: Indica incentivo fiscal.
                incentivadorCultural:
                  type: boolean
                  description: Indica incentivador cultural.
                email:
                  type: string
                  description: E-mail do emitente.
                endereco:
                  type: object
                  description: 'Endereço do emitente. Campos obrigatórios: bairro, cep, codigoCidade (IBGE), estado, logradouro,
                    numero e tipoLogradouro; opcionais: complemento, tipoBairro, descricaoCidade, codigoPais, descricaoPais.'
                telefone:
                  type: object
                  description: 'Telefone do emitente: {ddd, numero}.'
                nfse:
                  type: object
                  description: 'Licença e configuração de NFS-e: {ativo, tipoContrato, config:{producao, nfseNacional, rps,
                    prefeitura, email, ...}}.'
                nfe:
                  type: object
                  description: 'Licença e configuração de NF-e: {ativo, tipoContrato, config:{producao, dfe, numeracao, numeracaoAutomatica,
                    tipoEmissao, ...}}.'
                nfce:
                  type: object
                  description: 'Licença e configuração de NFC-e: {ativo, tipoContrato, config:{producao, sefaz, impressao,
                    numeracao, ...}}.'
                grupoEmpresaId:
                  type: string
                  description: Identificador do grupo de empresas ao qual o emitente será vinculado.
              required:
              - cpfCnpj
              - razaoSocial
              - simplesNacional
              - regimeTributario
              - regimeTributarioEspecial
              - email
              - endereco
              - nfse
              - nfe
              - nfce
            example:
              cpfCnpj: 00000000000191
              razaoSocial: Empresa Exemplo LTDA
              nomeFantasia: Exemplo
              inscricaoMunicipal: '123456'
              email: fiscal@example.com
              certificado: 5b855b0926ddb251e0f0ef42
              simplesNacional: true
              regimeTributario: 1
              regimeTributarioEspecial: 0
              endereco:
                tipoLogradouro: Avenida
                logradouro: Duque de Caxias
                numero: '882'
                bairro: Zona 07
                cep: '87020025'
                codigoCidade: '4115200'
                descricaoCidade: Maringá
                estado: PR
              telefone:
                ddd: '44'
                numero: '30000000'
              nfse:
                ativo: true
                tipoContrato: 0
                config:
                  producao: false
                  nfseNacional: false
                  rps:
                    numeracaoAutomatica: true
                    numeracao:
                    - serie: '1'
                      numero: 1
              nfe:
                ativo: false
                tipoContrato: 0
                config:
                  producao: false
              nfce:
                ativo: false
                tipoContrato: 0
                config:
                  producao: false
  /empresa/{cnpj}:
    get:
      operationId: plugnotas__empresa__obter
      summary: Consultar empresa
      description: 'Devolve o cadastro completo de um emitente vinculado à organização: dados fiscais, endereço, certificado,
        regime tributário e todos os blocos de configuração por documento, incluindo séries, numeração, envio automático de
        e-mail e a configuração de notas destinadas (nfe.config.dfe).


        Quando usar: Use para diagnosticar por que uma emissão está falhando: é aqui que se vê se o documento está ativo,
        se o ambiente é produção ou homologação, qual certificado está vinculado e se o DF-e está ligado. Também é o jeito
        de ler o cadastro antes de um PATCH.'
      tags:
      - Empresa
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/getEmpresa
      x-entidade-canonica: Empresa
      x-acao-canonica: obter
      x-seguro-para-executar: true
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"cpfCnpj": "string", "razaoSocial": "string", "nomeFantasia": "string", "inscricaoMunicipal":
                  "string", "inscricaoEstadual": "string", "certificado": "string", "simplesNacional": "boolean", "regimeTributario":
                  "integer", "email": "string", "endereco": "object", "telefone": "object", "nfse": "object", "nfe": "object",
                  "nfce": "object", "mdfe": "object", "nfcom": "object"}'
        '404':
          description: 'nao_encontrado: Não localizamos qualquer <recurso> com os parâmetros informados.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '500':
          description: 'erro_interno: Ocorreu um erro interno, nossa equipe já foi notificada do problema.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
      parameters:
      - name: cnpj
        in: path
        required: true
        description: CNPJ da empresa emitente, sem máscara.
        schema:
          type: string
          description: CNPJ da empresa emitente, sem máscara.
    patch:
      operationId: plugnotas__empresa__atualizar
      summary: Alterar empresa
      description: 'Altera o cadastro de um emitente. Aceita desde um campo isolado até o cadastro inteiro, desde que o campo
        venha na mesma hierarquia usada no cadastro. É por aqui que se liga a consulta de notas destinadas (nfe.config.dfe.ativo),
        se vira a chave de produção ({documento}.config.producao), se inativa uma licença ({documento}.ativo = false) e se
        desvincula a empresa de um grupo (grupoEmpresaId com string vazia).


        Quando usar: Use na virada de homologação para produção, ao ligar o DF-e, ao trocar o certificado de um CNPJ específico
        ou ao ajustar numeração de série. Escrita com efeito fiscal imediato: o assistente não executa.'
      tags:
      - Empresa
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/updateCompany
      x-entidade-canonica: Empresa
      x-acao-canonica: atualizar
      x-seguro-para-executar: false
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"message": "string", "data": "object"}'
        '400':
          description: 'falha_validacao_empresa: Falha na validação do JSON de Empresa.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '404':
          description: 'nao_encontrado: Não localizamos qualquer <recurso> com os parâmetros informados.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
      parameters:
      - name: cnpj
        in: path
        required: true
        description: CNPJ da empresa a alterar.
        schema:
          type: string
          description: CNPJ da empresa a alterar.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                certificado:
                  type: string
                  description: Novo identificador de certificado.
                inscricaoMunicipal:
                  type: string
                  description: Inscrição municipal.
                inscricaoEstadual:
                  type: string
                  description: Inscrição estadual.
                email:
                  type: string
                  description: E-mail do emitente.
                endereco:
                  type: object
                  description: Endereço completo; quando enviado, os campos obrigatórios do endereço voltam a ser exigidos.
                nfse:
                  type: object
                  description: 'Bloco de NFS-e, por exemplo {"config": {"producao": true}} ou {"ativo": false}.'
                nfe:
                  type: object
                  description: 'Bloco de NF-e, por exemplo {"config": {"dfe": {"ativo": true}}}.'
                nfce:
                  type: object
                  description: Bloco de NFC-e.
                mdfe:
                  type: object
                  description: Bloco de MDF-e.
                nfcom:
                  type: object
                  description: Bloco de NFCom.
                grupoEmpresaId:
                  type: string
                  description: Identificador do grupo de empresas; string vazia desvincula.
            example:
              nfe:
                config:
                  dfe:
                    ativo: true
  /webhook:
    get:
      operationId: plugnotas__webhook__obter__organizacao
      summary: Consultar webhook
      description: 'Devolve a configuração de webhook da organização: URL de destino, método HTTP, cabeçalhos fixos, query
        string e a opção de retorno completo para NFS-e.


        Quando usar: Use para conferir, em suporte ou auditoria, para onde as notificações estão indo e com quais cabeçalhos.
        Se a organização nunca configurou webhook, a API responde 400 dizendo isso.'
      tags:
      - Webhook
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/get-webhook
      x-entidade-canonica: Webhook
      x-acao-canonica: obter
      x-seguro-para-executar: true
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"url": "string", "method": "string", "headers": "object", "queryString": "object", "nfse":
                  {"retornoCompleto": "boolean"}}'
        '400':
          description: 'sem_webhook: Este(a) Organização ainda não possui uma configuração de webhook.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
    post:
      operationId: plugnotas__webhook__assinar_webhook__organizacao
      summary: Cadastrar webhook
      description: 'Cadastra o endpoint que receberá as notificações de todas as empresas da organização. Cada documento que
        chega a uma situação final (CONCLUIDO, REJEITADO, CANCELADO, DENEGADO) gera uma chamada individual — um lote de 50
        notas vira 50 notificações. Documentos em PROCESSANDO não disparam nada. Em caso de falha, o PlugNotas repete por
        cerca de 6 horas até receber um 2xx.


        Quando usar: É o jeito recomendado de acompanhar emissão em escala, no lugar de ficar consultando resumo. Software
        house com um único backend usa este nível; quem precisa de um endpoint por cliente usa o webhook por empresa.'
      tags:
      - Webhook
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/post-webhook
      x-entidade-canonica: Webhook
      x-acao-canonica: assinar_webhook
      x-seguro-para-executar: false
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"message": "string", "data": "object"}'
        '400':
          description: 'falha_validacao_webhook: Falha na validação do JSON de Webhook.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: Endereço público que receberá as notificações.
                method:
                  type: string
                  enum:
                  - POST
                  - PUT
                  - PATCH
                  default: POST
                  description: Método HTTP usado na notificação.
                headers:
                  type: object
                  description: 'Cabeçalhos fixos enviados na notificação; é o único mecanismo de autenticação disponível (não
                    há assinatura HMAC). Ex.: {"Authorization": "Basic ..."}.'
                queryString:
                  type: object
                  description: Parâmetros de query string anexados à URL da notificação.
                nfse:
                  type: object
                  description: 'Opções específicas de NFS-e na notificação: {"retornoCompleto": true} envia o documento inteiro
                    em vez do resumo.'
              required:
              - url
            example:
              url: https://api.example.com/v1/callback/plugnotas
              method: POST
              headers:
                Authorization: <<SEU_TOKEN_DE_CALLBACK>>
    put:
      operationId: plugnotas__webhook__atualizar__organizacao
      summary: Alterar webhook
      description: 'Altera a configuração de webhook da organização. Só os documentos processados depois da alteração usam
        a configuração nova.


        Quando usar: Prefira este PUT ao par excluir/cadastrar quando for trocar de endpoint: apagar o webhook deixa uma janela
        sem notificação nenhuma.'
      tags:
      - Webhook
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/put-webhook
      x-entidade-canonica: Webhook
      x-acao-canonica: atualizar
      x-seguro-para-executar: false
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"message": "string", "data": "object"}'
        '400':
          description: 'falha_validacao_webhook: Falha na validação do JSON de Webhook.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: Endereço público que receberá as notificações.
                method:
                  type: string
                  enum:
                  - POST
                  - PUT
                  - PATCH
                  default: POST
                  description: Método HTTP usado na notificação.
                headers:
                  type: object
                  description: 'Cabeçalhos fixos enviados na notificação; é o único mecanismo de autenticação disponível (não
                    há assinatura HMAC). Ex.: {"Authorization": "Basic ..."}.'
                queryString:
                  type: object
                  description: Parâmetros de query string anexados à URL da notificação.
                nfse:
                  type: object
                  description: 'Opções específicas de NFS-e na notificação: {"retornoCompleto": true} envia o documento inteiro
                    em vez do resumo.'
              required:
              - url
            example:
              url: https://api.example.com/v2/callback/plugnotas
              method: POST
    delete:
      operationId: plugnotas__webhook__excluir__organizacao
      summary: Remover webhook
      description: 'Remove a configuração de webhook da organização. A partir daí nenhuma notificação é enviada até que um
        novo endpoint seja cadastrado.


        Quando usar: Use apenas em desativação real da integração. Para troca de endereço, a própria documentação recomenda
        o PUT, para não perder notificações no intervalo.'
      tags:
      - Webhook
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/delete-webhook
      x-entidade-canonica: Webhook
      x-acao-canonica: excluir
      x-seguro-para-executar: false
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"message": "string", "data": "object"}'
        '400':
          description: 'sem_webhook: Este(a) Organização ainda não possui uma configuração de webhook.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
  /webhook/verify:
    post:
      operationId: plugnotas__webhook__enviar__teste_organizacao
      summary: Testar webhook
      description: 'Dispara uma notificação de exemplo para o endpoint configurado na organização. A resposta desta chamada
        é exatamente o corpo e o status devolvidos pelo seu endpoint, o que torna a rota um teste de ponta a ponta.


        Quando usar: Use logo depois de cadastrar ou alterar o webhook, e sempre que o cliente disser que parou de receber
        notificação: se o teste volta com erro do lado dele, o problema não é do PlugNotas. É escrita porque dispara uma chamada
        para um sistema de terceiro.'
      tags:
      - Webhook
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/post-webhook-verify
      x-entidade-canonica: Webhook
      x-acao-canonica: enviar
      x-seguro-para-executar: false
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"message": "string", "data": "object"}'
        '400':
          description: 'sem_webhook: Este(a) Organização ainda não possui uma configuração de webhook.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
  /empresa/{cnpj}/webhook:
    get:
      operationId: plugnotas__webhook__obter__empresa
      summary: Consultar webhook da empresa
      description: 'Devolve a configuração de webhook específica de um CNPJ: URL, método, cabeçalhos fixos, query string e
        opção de retorno completo de NFS-e.


        Quando usar: Use quando cada cliente da software house tem o próprio endpoint e você precisa conferir para onde vão
        as notificações daquele CNPJ.'
      tags:
      - Webhook
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/getWebhookConfigEmpresa
      x-entidade-canonica: Webhook
      x-acao-canonica: obter
      x-seguro-para-executar: true
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"url": "string", "method": "string", "headers": "object", "queryString": "object", "nfse":
                  {"retornoCompleto": "boolean"}}'
        '400':
          description: 'sem_webhook_empresa: Este(a) Empresa ainda não possui uma configuração de webhook.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '404':
          description: 'nao_encontrado: Não localizamos qualquer <recurso> com os parâmetros informados.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
      parameters:
      - name: cnpj
        in: path
        required: true
        description: CNPJ da empresa emitente.
        schema:
          type: string
          description: CNPJ da empresa emitente.
    post:
      operationId: plugnotas__webhook__assinar_webhook__empresa
      summary: Cadastrar webhook da empresa
      description: 'Cadastra um endpoint de notificação exclusivo para um CNPJ, sobrepondo o webhook da organização para aquela
        empresa. Vale a mesma mecânica: uma notificação por documento, só em situação final, com reenvio por cerca de 6 horas
        até receber 2xx.


        Quando usar: É o modelo para quem revende e quer entregar as notificações direto no sistema de cada cliente, sem passar
        pelo seu backend. Se você centraliza tudo em um backend só, prefira o webhook da organização.'
      tags:
      - Webhook
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/configureWebhookEmpresa
      x-entidade-canonica: Webhook
      x-acao-canonica: assinar_webhook
      x-seguro-para-executar: false
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"message": "string", "data": "object"}'
        '400':
          description: 'falha_validacao_webhook: Falha na validação do JSON de Webhook.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '404':
          description: 'nao_encontrado: Não localizamos qualquer <recurso> com os parâmetros informados.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
      parameters:
      - name: cnpj
        in: path
        required: true
        description: CNPJ da empresa emitente.
        schema:
          type: string
          description: CNPJ da empresa emitente.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: Endereço público que receberá as notificações.
                method:
                  type: string
                  enum:
                  - POST
                  - PUT
                  - PATCH
                  default: POST
                  description: Método HTTP usado na notificação.
                headers:
                  type: object
                  description: 'Cabeçalhos fixos enviados na notificação; é o único mecanismo de autenticação disponível (não
                    há assinatura HMAC). Ex.: {"Authorization": "Basic ..."}.'
                queryString:
                  type: object
                  description: Parâmetros de query string anexados à URL da notificação.
                nfse:
                  type: object
                  description: 'Opções específicas de NFS-e na notificação: {"retornoCompleto": true} envia o documento inteiro
                    em vez do resumo.'
              required:
              - url
            example:
              url: https://erp-do-cliente.example.com/callback
              method: POST
              headers:
                Authorization: <<TOKEN_DO_CLIENTE>>
    put:
      operationId: plugnotas__webhook__atualizar__empresa
      summary: Alterar webhook da empresa
      description: 'Altera a configuração de webhook de um CNPJ. A configuração nova só vale para documentos processados depois
        da alteração.


        Quando usar: Use na troca de endpoint de um cliente específico, para não abrir janela sem notificação como aconteceria
        se você apagasse e recriasse.'
      tags:
      - Webhook
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/updateWebhookEmpresa
      x-entidade-canonica: Webhook
      x-acao-canonica: atualizar
      x-seguro-para-executar: false
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"message": "string", "data": "object"}'
        '400':
          description: 'falha_validacao_webhook: Falha na validação do JSON de Webhook.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '404':
          description: 'nao_encontrado: Não localizamos qualquer <recurso> com os parâmetros informados.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
      parameters:
      - name: cnpj
        in: path
        required: true
        description: CNPJ da empresa emitente.
        schema:
          type: string
          description: CNPJ da empresa emitente.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: Endereço público que receberá as notificações.
                method:
                  type: string
                  enum:
                  - POST
                  - PUT
                  - PATCH
                  default: POST
                  description: Método HTTP usado na notificação.
                headers:
                  type: object
                  description: 'Cabeçalhos fixos enviados na notificação; é o único mecanismo de autenticação disponível (não
                    há assinatura HMAC). Ex.: {"Authorization": "Basic ..."}.'
                queryString:
                  type: object
                  description: Parâmetros de query string anexados à URL da notificação.
                nfse:
                  type: object
                  description: 'Opções específicas de NFS-e na notificação: {"retornoCompleto": true} envia o documento inteiro
                    em vez do resumo.'
              required:
              - url
            example:
              url: https://erp-do-cliente.example.com/v2/callback
              method: POST
    delete:
      operationId: plugnotas__webhook__excluir__empresa
      summary: Remover webhook da empresa
      description: 'Remove o webhook específico de um CNPJ. Sem ele, a empresa deixa de receber notificação naquele endereço
        até um novo cadastro.


        Quando usar: Use ao descomissionar um cliente ou ao migrar aquele CNPJ para o webhook da organização. Para simples
        troca de URL, prefira o PUT.'
      tags:
      - Webhook
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/deleteWebhookEmpresa
      x-entidade-canonica: Webhook
      x-acao-canonica: excluir
      x-seguro-para-executar: false
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"message": "string", "data": "object"}'
        '400':
          description: 'sem_webhook_empresa: Este(a) Empresa ainda não possui uma configuração de webhook.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '404':
          description: 'nao_encontrado: Não localizamos qualquer <recurso> com os parâmetros informados.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
      parameters:
      - name: cnpj
        in: path
        required: true
        description: CNPJ da empresa emitente.
        schema:
          type: string
          description: CNPJ da empresa emitente.
  /empresa/{cnpj}/webhook/verify:
    post:
      operationId: plugnotas__webhook__enviar__teste_empresa
      summary: Testar webhook da empresa
      description: 'Dispara uma notificação de exemplo para o endpoint configurado naquele CNPJ e devolve, como resposta,
        o corpo e o status que o endpoint do cliente retornou.


        Quando usar: É a ferramenta de diagnóstico do suporte: mostra na hora se o endereço do cliente está no ar, se aceita
        o método configurado e se valida o cabeçalho corretamente.'
      tags:
      - Webhook
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/testWebhookEmpresa
      x-entidade-canonica: Webhook
      x-acao-canonica: enviar
      x-seguro-para-executar: false
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"message": "string", "data": "object"}'
        '400':
          description: 'sem_webhook_empresa: Este(a) Empresa ainda não possui uma configuração de webhook.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '404':
          description: 'nao_encontrado: Não localizamos qualquer <recurso> com os parâmetros informados.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
      parameters:
      - name: cnpj
        in: path
        required: true
        description: CNPJ da empresa emitente.
        schema:
          type: string
          description: CNPJ da empresa emitente.
  /nfse/tomador:
    post:
      operationId: plugnotas__cliente__criar__tomador
      summary: Cadastrar tomador
      description: 'Cadastra um tomador de serviço (o cliente do prestador) com CPF/CNPJ, razão social, endereço completo,
        inscrições e telefone. O cadastro é opcional: existe para simplificar a emissão, permitindo enviar só {"tomador":
        {"id": "..."}} no JSON da nota em vez de repetir o bloco inteiro.


        Quando usar: Vale a pena quando o mesmo tomador se repete muito (contratos mensais, carteira fixa). Se cada nota é
        para um cliente diferente, mande os dados direto no payload da NFS-e e pule este cadastro.'
      tags:
      - Cliente
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/addTomador
      x-entidade-canonica: Cliente
      x-acao-canonica: criar
      x-seguro-para-executar: false
      responses:
        '201':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"message": "string", "data": {"cnpj": "string"}}'
        '409':
          description: 'duplicidade: Já existe um(a) <recurso> com os parâmetros informados.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '400':
          description: 'falha_validacao_tomador: Falha na validação do JSON de Tomador.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cpfCnpj:
                  type: string
                  description: CPF ou CNPJ do tomador, sem máscara.
                razaoSocial:
                  type: string
                  description: Razão social ou nome do tomador.
                nomeFantasia:
                  type: string
                  description: Nome fantasia.
                endereco:
                  type: object
                  description: 'Endereço do tomador. Obrigatórios: bairro, cep, codigoCidade, estado, logradouro, numero e
                    tipoLogradouro.'
                email:
                  type: string
                  description: E-mail para envio do PDF e do XML.
                telefone:
                  type: object
                  description: 'Telefone: {ddd, numero}. O campo numero é obrigatório quando o objeto é enviado.'
                inscricaoMunicipal:
                  type: string
                  description: Inscrição municipal do tomador.
                inscricaoEstadual:
                  type: string
                  description: Inscrição estadual do tomador.
                inscricaoSuframa:
                  type: string
                  description: Inscrição Suframa.
                indicadorInscricaoEstadual:
                  type: integer
                  description: Indicador de contribuinte de ICMS.
                orgaoPublico:
                  type: boolean
                  description: Indica se o tomador é órgão público.
                codigoEstrangeiro:
                  type: string
                  description: Documento do tomador estrangeiro.
                naoNif:
                  type: string
                  description: Indicador de tomador estrangeiro sem NIF.
              required:
              - cpfCnpj
              - endereco
            example:
              cpfCnpj: 00000000000191
              razaoSocial: Cliente Exemplo LTDA
              email: contato@example.com
              endereco:
                tipoLogradouro: Rua
                logradouro: das Flores
                numero: '100'
                bairro: Centro
                cep: '87020025'
                codigoCidade: '4115200'
                estado: PR
              telefone:
                ddd: '44'
                numero: '30000000'
  /nfse/tomador/{cpfCnpj}:
    get:
      operationId: plugnotas__cliente__obter__tomador
      summary: Consultar tomador
      description: 'Devolve o cadastro de um tomador de NFS-e pelo CPF ou CNPJ: razão social, endereço, inscrições, e-mail
        e telefone.


        Quando usar: Use para conferir se o tomador já está cadastrado antes de emitir (evita o 409 do cadastro duplicado)
        e para exportar a carteira de tomadores que o cliente mantém no PlugNotas.'
      tags:
      - Cliente
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/getTomador
      x-entidade-canonica: Cliente
      x-acao-canonica: obter
      x-seguro-para-executar: true
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"cpfCnpj": "string", "razaoSocial": "string", "nomeFantasia": "string", "email": "string",
                  "inscricaoMunicipal": "string", "inscricaoEstadual": "string", "orgaoPublico": "boolean", "endereco": {"logradouro":
                  "string", "numero": "string", "bairro": "string", "cep": "string", "codigoCidade": "string", "estado": "string"},
                  "telefone": {"ddd": "string", "numero": "string"}}'
        '404':
          description: 'nao_encontrado: Não localizamos qualquer <recurso> com os parâmetros informados.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
      parameters:
      - name: cpfCnpj
        in: path
        required: true
        description: CPF ou CNPJ do tomador, sem máscara.
        schema:
          type: string
          description: CPF ou CNPJ do tomador, sem máscara.
  /nfse/servico:
    post:
      operationId: plugnotas__produto__criar__servico
      summary: Cadastrar serviço
      description: 'Cadastra um serviço reutilizável para NFS-e: código do item da lista de serviços, discriminação, CNAE,
        código de tributação, código de serviço nacional, unidade e o bloco de ISS (alíquota, tipo de tributação, exigibilidade,
        retenção, situação tributária). Devolve um id que pode ser usado no JSON da nota como {"servico": {"id": "..."}}.


        Quando usar: Vale para quem fatura sempre os mesmos serviços: centraliza alíquota e discriminação em um lugar só.
        Não é obrigatório — tudo pode ir direto no payload da nota.'
      tags:
      - Produto
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/addServico
      x-entidade-canonica: Produto
      x-acao-canonica: criar
      x-seguro-para-executar: false
      responses:
        '201':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"message": "string", "data": {"id": "string"}}'
        '400':
          description: 'falha_validacao_json: Falha na validação do JSON de <documento>.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                codigo:
                  type: string
                  description: Código do serviço na lista do município (item da LC 116).
                discriminacao:
                  type: string
                  description: Descrição do serviço que sai na nota; respeite o tamanho máximo do município (campo detalhesEmissao.tamanhoMaxDescricao).
                codigoTributacao:
                  type: string
                  description: Código de tributação do município.
                codigoContribuinte:
                  type: string
                  description: Código do serviço no cadastro do contribuinte na prefeitura.
                codigoServicoNacional:
                  type: string
                  description: Código de tributação nacional da NFS-e Nacional.
                codigoNbs:
                  type: string
                  description: Código NBS.
                cnae:
                  type: string
                  description: CNAE do serviço.
                codigoCidadeIncidencia:
                  type: string
                  description: Código IBGE do município de incidência do ISS.
                unidade:
                  type: string
                  description: Unidade de medida.
                quantidade:
                  type: number
                  description: Quantidade padrão.
                iss:
                  type: object
                  description: 'Bloco do ISS: aliquota (obrigatória), tipoTributacao, tipoRetencao, exigibilidade, retido,
                    valor, valorRetido, situacaoTributaria, processoSuspensao.'
                obra:
                  type: object
                  description: Dados de obra (ART, CEI, endereço), quando o serviço for de construção civil.
                idIntegracao:
                  type: string
                  description: Identificador do serviço no seu sistema.
              required:
              - codigo
              - discriminacao
              - iss
            example:
              codigo: '0107'
              discriminacao: Suporte técnico mensal em software
              iss:
                aliquota: 2.0
                exigibilidade: 1
                retido: false
  /nfse/servico/{idServico}:
    get:
      operationId: plugnotas__produto__obter__servico
      summary: Consultar serviço
      description: 'Devolve o cadastro de um serviço de NFS-e pelo identificador: código do item, discriminação, CNAE, códigos
        de tributação e o bloco completo de ISS.


        Quando usar: Use para conferir a alíquota e a discriminação que estão sendo aplicadas antes de emitir, e para exportar
        a tabela de serviços que o cliente mantém no PlugNotas.'
      tags:
      - Produto
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/getServico
      x-entidade-canonica: Produto
      x-acao-canonica: obter
      x-seguro-para-executar: true
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"codigo": "string", "discriminacao": "string", "codigoTributacao": "string", "cnae": "string",
                  "codigoServicoNacional": "string", "unidade": "string", "quantidade": "number", "iss": {"aliquota": "number",
                  "tipoTributacao": "integer", "exigibilidade": "integer", "retido": "boolean", "situacaoTributaria": "integer"}}'
        '400':
          description: 'id_invalido: Falha ao buscar Servico, o ID utilizado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '404':
          description: 'nao_encontrado: Não localizamos qualquer <recurso> com os parâmetros informados.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
      parameters:
      - name: idServico
        in: path
        required: true
        description: Identificador do serviço devolvido no cadastro.
        schema:
          type: string
          description: Identificador do serviço devolvido no cadastro.
  /nfse:
    post:
      operationId: plugnotas__nota_fiscal__emitir__nfse
      summary: Emitir nota de serviço
      description: 'Envia uma ou mais NFS-e para a prefeitura (ou para o Ambiente Nacional, quando a empresa está com nfseNacional
        ligado). O corpo é um array de documentos; cada um traz prestador, tomador, serviço, RPS e cidade de prestação. A
        API valida o schema e algumas regras de negócio na hora e, passando, devolve um id por nota mais um protocolo do lote,
        com a mensagem de que as notas estão em processamento. A autorização em si é assíncrona.


        Quando usar: É a rota central de quem fatura serviço. Um HTTP 200 aqui não quer dizer nota autorizada: significa que
        o PlugNotas aceitou o JSON. A situação real vem do webhook ou da consulta de resumo. Escrita com efeito fiscal e cobrança:
        o assistente explica e gera o código, mas quem executa é o cliente.'
      tags:
      - NotaFiscal
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/post-nfse
      x-entidade-canonica: NotaFiscal
      x-acao-canonica: emitir
      x-seguro-para-executar: false
      responses:
        '200':
          description: Resposta de sucesso.
          content:
            application/json:
              schema:
                type: object
                description: '{"documents": [{"idIntegracao": "string", "prestador": "string", "id": "string"}], "message":
                  "string", "protocol": "string"}'
        '400':
          description: 'falha_validacao_json: Falha na validação do JSON de <documento>.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '409':
          description: 'duplicidade: Já existe um(a) <recurso> com os parâmetros informados.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '401':
          description: 'token_invalido: O token informado é inválido.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
        '500':
          description: 'erro_interno: Ocorreu um erro interno, nossa equipe já foi notificada do problema.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      data:
                        type: object
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  idIntegracao:
                    type: string
                    description: Identificador único da nota no seu sistema; é a proteção contra duplicidade (reenvio do mesmo
                      valor devolve 409 em vez de emitir outra nota).
                  prestador:
                    type: object
                    description: Emitente do serviço. Obrigatório o cpfCnpj de uma empresa já cadastrada; os demais dados
                      vêm do cadastro quando omitidos.
                  tomador:
                    type: object
                    description: 'Tomador do serviço: cpfCnpj, razaoSocial, endereco, email, inscrições. Pode ser substituído
                      por {"id": "..."} de um tomador cadastrado. No schema oficial só prestador e servico são obrigatórios,
                      mas a maioria das prefeituras exige o tomador.'
                  servico:
                    type: array
                    description: 'Itens de serviço. Obrigatórios em cada item: codigo, discriminacao, iss e valor. Opcionais
                      úteis: cnae, codigoTributacao, codigoServicoNacional, codigoCidadeIncidencia, deducao e ibscbs. Pode
                      usar {"id": "..."} de serviço cadastrado.'
                  rps:
                    type: object
                    description: 'Dados do RPS: dataEmissao e competencia são obrigatórios quando o objeto é enviado; serie
                      e numero só quando a numeração automática está desligada.'
                  cidadePrestacao:
                    type: object
                    description: 'Município onde o serviço foi prestado: codigo (IBGE) e descricao obrigatórios quando enviado;
                      sem ele vale a cidade do prestador. Exterior usa 9999999.'
                  enviarEmail:
                    type: boolean
                    default: false
                    description: Envia PDF e XML por e-mail ao tomador.
                  idNotaSubstituida:
                    type: string
                    description: Identificador da nota que está sendo substituída, nos municípios que suportam substituição.
                  informacoesComplementares:
                    type: object
                    description: Observações e informações complementares impressas na nota.
                  intermediario:
                    type: object
                    description: Intermediário do serviço, quando houver.
                  camposPrefeitura:
                    type: object
                    description: Campos exigidos apenas por determinadas prefeituras, fora do padrão comum.
                  parcelas:
                    type: array
                    description: Parcelamento do serviço, nos municípios que aceitam.
                  naturezaTributacao:
                    type: string
                    description: Natureza da tributação do serviço, quando o município exige.
                  modoEnvio:
                    type: string
                    description: Modo de envio à prefeitura, quando o município oferece mais de um.
                required:
                - prestador
                - servico
            example:
            - idIntegracao: OS-2026-000123
              prestador:
                cpfCnpj: 00000000000191
              tomador:
                cpfCnpj: '00000000000'
                razaoSocial: Cliente Exemplo
                email: contato@example.com
                endereco:
                  tipoLogradouro: Rua
                  logradouro: das Flores
                  numero: '100'
                  bairro: Centro
                  cep: '87020025'
                  codigoCidade: '4115200'
                  estado: PR
              cidadePrestacao:
                codigo: '4115200'
                descricao: MARINGA
              servico:
              - codigo: '0107'
                discriminacao: Suporte técnico mensal em software
                cnae: '6209100'
                iss:
                  aliquota: 2.0
                  exigibilidade: 1
                  retido: false
                valor:
                  servico: 425.0
                  unitario: 425.0
                quantidade: 1
              rps:
                dataEmissao: '2026-08-21T00:00:00-03:00'
                competencia: '2026-08-21'
              enviarEmail: true
  /nfse/{idNotaOrProtocol}:
    get:
      operationId: plugnotas__nota_fiscal__obter__nfse
      summary: Consultar nota (retorno completo)
      description: 'Devolve o documento completo da NFS-e como o PlugNotas o guarda: prestador, tomador, serviço com impostos,
        RPS/DPS, cidade de prestação e os dados de retorno da prefeitura. Buscando por id vem um documento; buscando por protocolo
        vem o array com todas as notas daquele lote.


        Quando usar: Use quando precisar do conteúdo inteiro da nota — por exemplo, para reimprimir num layout próprio ou
        conferir o que foi enviado. Para acompanhar status, prefira a consulta de resumo, que é bem mais leve.'
      tags:
      - NotaFiscal
      x-confianca: verificado
      x-fonte-url: https://docs.plugnotas.com.br/#operation/get-nfse
      x-entidade-canonica: NotaFiscal
      x-acao-canonica: obter
      x-seguro-para-executar: true
      responses:
        '200':
[...]
