openapi: 3.1.0
info:
  title: Focus NFe API (reconstruída para o catálogo)
  version: '2.0'
  description: 'Reconstrução a partir da documentação oficial (doc.focusnfe.com.br) consultada em 2026-09-17. Apenas os endpoints
    detalhados no catálogo; os demais estão em endpoints.json > endpoints_secundarios. Autenticação HTTP Basic: usuário =
    token, senha vazia. Limite: 100 requisições/min por token (doc legada).'
  x-fonte-url: https://doc.focusnfe.com.br/llms.txt
servers:
- url: https://api.focusnfe.com.br
  description: Produção
- url: https://homologacao.focusnfe.com.br
  description: Homologação (sandbox)
security:
- basicAuth: []
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Token da empresa como usuário e senha vazia.
  schemas:
    Erro:
      type: object
      properties:
        codigo:
          type: string
        mensagem:
          type: string
        erros:
          type: array
          items:
            type: object
            properties:
              mensagem:
                type: string
              campo:
                type: string
              codigo:
                type: string
              correcao:
                type:
                - string
                - 'null'
paths:
  /v2/nfe:
    post:
      operationId: focus-nfe__nota_fiscal__emitir__nfe
      summary: NFe > Emitir
      description: Envia os dados da NF-e em JSON; a Focus monta o XML 4.00, assina com o A1 da empresa e transmite à SEFAZ.
        Por padrão responde 202 e processa em fila; se a conta estiver configurada como síncrona (nfe_sincrono), pode responder
        201 já autorizada.
      tags:
      - nfe
      x-confianca: verificado
      x-fonte-url: https://doc.focusnfe.com.br/reference/emitir_nfe
      x-entidade-canonica: NotaFiscal
      x-acao-canonica: emitir
      parameters:
      - name: ref
        in: query
        required: true
        description: Identificador único do NF-e no seu sistema; será usado nas consultas, cancelamento e eventos.
        schema:
          type: string
          description: Identificador único do NF-e no seu sistema; será usado nas consultas, cancelamento e eventos.
      responses:
        '202':
          description: Sucesso
          content:
            application/json:
              example:
                cnpj_emitente: 00000000000191
                ref: pedido123
                status: processando_autorizacao
        '400':
          description: Faltou ?ref= na URL de emissão.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: requisicao_invalida
                mensagem: Parâmetro "ref" não informado.
        '401':
          description: Não autenticado
          content:
            text/html:
              schema:
                type: string
        '422':
          description: Campo obrigatório ausente ou em formato inválido (lista em erros[].campo).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: erro_validacao_schema
                mensagem: Erro na validação do Schema XML, verifique o detalhamento dos erros.
        '415':
          description: Corpo vazio ou sem Content-Type JSON.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: formato_invalido
                mensagem: Recebida requisição vazia quando eram esperados dados.
        '429':
          description: Mais de 100 requisições por minuto no mesmo token (doc legada oficial) ou, como observado em teste,
            várias autenticações falhas do mesmo IP (codigo limite_excedido).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: ''
                mensagem: Too many requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                natureza_operacao:
                  type: string
                  description: 'Texto da natureza da operação (ex.: venda, devolução).'
                  maxLength: 60
                data_emissao:
                  type: string
                  format: date-time
                  description: Data/hora de emissão com fuso (ISO-8601).
                data_entrada_saida:
                  type: string
                  format: date-time
                  description: Data/hora de saída (nota de saída) ou entrada (nota de entrada).
                tipo_documento:
                  type: integer
                  description: 0 = entrada, 1 = saída.
                  enum: &id001
                  - 0
                  - 1
                finalidade_emissao:
                  type: integer
                  description: 1 normal, 2 complementar, 3 ajuste, 4 devolução.
                  enum: &id002
                  - 1
                  - 2
                  - 3
                  - 4
                local_destino:
                  type: integer
                  description: 1 operação interna, 2 interestadual, 3 exterior.
                  enum: &id003
                  - 1
                  - 2
                  - 3
                consumidor_final:
                  type: integer
                  description: 1 quando o destinatário é consumidor final.
                  enum: &id004
                  - 0
                  - 1
                presenca_comprador:
                  type: integer
                  description: Indicador de presença do comprador (tag indPres).
                  enum: &id005
                  - 0
                  - 1
                  - 2
                  - 3
                  - 4
                  - 9
                serie:
                  type: integer
                  description: Série; omita para a API numerar automaticamente (recomendado).
                numero:
                  type: integer
                  description: Número; omita para numeração automática.
                cnpj_emitente:
                  type: string
                  description: CNPJ do emitente (ou cpf_emitente para produtor rural). Deve estar cadastrado e habilitado
                    na conta.
                cpf_emitente:
                  type: string
                  description: CPF do emitente pessoa física (produtor rural).
                inscricao_estadual_emitente:
                  type: string
                  description: IE do emitente; padrão = cadastro.
                regime_tributario_emitente:
                  type: integer
                  description: 'CRT: 1 Simples Nacional, 2 Simples com excesso de sublimite, 3 Regime Normal, 4 MEI. Padrão
                    = cadastro.'
                  enum: &id006
                  - 1
                  - 2
                  - 3
                  - 4
                codigo_municipio_emitente:
                  type: integer
                  description: Código IBGE do município do emitente; padrão = cadastro.
                nome_destinatario:
                  type: string
                  description: Nome/razão social do destinatário.
                cnpj_destinatario:
                  type: string
                  description: CNPJ do destinatário (use cpf_destinatario para PF).
                cpf_destinatario:
                  type: string
                  description: CPF do destinatário pessoa física.
                inscricao_estadual_destinatario:
                  type: string
                  description: IE do destinatário, quando contribuinte.
                indicador_inscricao_estadual_destinatario:
                  type: integer
                  description: 1 contribuinte ICMS, 2 isento, 9 não contribuinte.
                  enum: &id007
                  - 1
                  - 2
                  - 9
                logradouro_destinatario:
                  type: string
                  description: Logradouro do destinatário.
                numero_destinatario:
                  type: string
                  description: Número do endereço.
                bairro_destinatario:
                  type: string
                  description: Bairro.
                municipio_destinatario:
                  type: string
                  description: Nome do município.
                codigo_municipio_destinatario:
                  type: integer
                  description: Código IBGE do município do destinatário.
                uf_destinatario:
                  type: string
                  description: UF do destinatário.
                cep_destinatario:
                  type: string
                  description: CEP do destinatário, só dígitos.
                pais_destinatario:
                  type: string
                  description: País do destinatário.
                telefone_destinatario:
                  type: string
                  description: Telefone do destinatário.
                email_destinatario:
                  type: string
                  description: E-mail para envio automático do XML/DANFE.
                modalidade_frete:
                  type: integer
                  description: 0 por conta do emitente, 1 do destinatário, 2 de terceiros, 9 sem frete (enum do OpenAPI).
                  enum: &id008
                  - 0
                  - 1
                  - 2
                  - 9
                valor_frete:
                  type: number
                  description: Total de frete.
                valor_seguro:
                  type: number
                  description: Total de seguro.
                valor_desconto:
                  type: number
                  description: Total de descontos.
                valor_outras_despesas:
                  type: number
                  description: Outras despesas acessórias.
                valor_produtos:
                  type: number
                  description: Soma dos produtos.
                valor_total:
                  type: number
                  description: Total da nota; se omitido, a API calcula a partir de produtos, descontos, ST, frete, seguro
                    etc.
                informacoes_adicionais_contribuinte:
                  type: string
                  description: Texto livre de informações complementares.
                items:
                  type: array
                  description: Itens da nota (1 a 990). A página de campos chama a coleção de 'itens', mas o JSON usa 'items'.
                  items:
                    type: object
                    properties:
                      numero_item:
                        type: integer
                        description: Sequência do item, começando em 1.
                      codigo_produto:
                        type: string
                        description: Código interno do produto.
                      descricao:
                        type: string
                        description: Descrição do produto.
                      cfop:
                        type: string
                        description: CFOP do item.
                        pattern: ^[1-7][0-9]{3}$
                      codigo_ncm:
                        type: string
                        description: NCM de 8 dígitos.
                        pattern: ^[0-9]{8}$
                      cest:
                        type: string
                        description: CEST (7 dígitos), quando sujeito a ST.
                      codigo_barras_comercial:
                        type: string
                        description: GTIN/EAN comercial.
                      unidade_comercial:
                        type: string
                        description: Unidade comercial (UN, KG...).
                      quantidade_comercial:
                        type: number
                        description: Quantidade comercial.
                      valor_unitario_comercial:
                        type: number
                        description: Preço unitário comercial.
                      unidade_tributavel:
                        type: string
                        description: Unidade tributável.
                      quantidade_tributavel:
                        type: number
                        description: Quantidade tributável.
                      valor_unitario_tributavel:
                        type: number
                        description: Valor unitário tributável.
                      valor_bruto:
                        type: number
                        description: Quantidade × valor unitário.
                      inclui_no_total:
                        type: integer
                        description: 1 se o item compõe o total da nota.
                        enum: &id009
                        - 0
                        - 1
                      icms_origem:
                        type: integer
                        description: Origem da mercadoria (0 a 8).
                      icms_situacao_tributaria:
                        type: string
                        description: 'CST (regime normal: 00, 10, 20, 40...) ou CSOSN (Simples: 101, 102, 500, 900...). Valores
                          como 10_partilha também existem. Campo obrigatório na página de campos; cada código exige campos
                          adicionais.'
                      icms_modalidade_base_calculo:
                        type: integer
                        description: Modalidade da BC do ICMS (0 MVA, 1 pauta, 2 preço tabelado, 3 valor da operação).
                        enum: &id010
                        - 0
                        - 1
                        - 2
                        - 3
                      icms_base_calculo:
                        type: number
                        description: Base de cálculo do ICMS.
                      icms_aliquota:
                        type: number
                        description: Alíquota do ICMS (%).
                      icms_valor:
                        type: number
                        description: Valor do ICMS.
                      pis_situacao_tributaria:
                        type: string
                        description: CST do PIS.
                      cofins_situacao_tributaria:
                        type: string
                        description: CST da COFINS.
                      ibs_cbs_situacao_tributaria:
                        type: string
                        description: 'Reforma Tributária: CST do IBS/CBS (3 caracteres). Marcado como obrigatório na página
                          de campos; o guia oficial diz que é exigido de Lucro Real/Presumido e não do Simples/MEI por ora.'
                        maxLength: 3
                      ibs_cbs_classificacao_tributaria:
                        type: string
                        description: 'Reforma Tributária: cClassTrib (6 caracteres).'
                        maxLength: 6
                      ibs_cbs_base_calculo:
                        type: number
                        description: 'Reforma Tributária: base de cálculo do IBS/CBS.'
                      cbs_aliquota:
                        type: number
                        description: 'Reforma Tributária: alíquota da CBS.'
                      cbs_valor:
                        type: number
                        description: 'Reforma Tributária: valor da CBS.'
                      ibs_uf_aliquota:
                        type: number
                        description: 'Reforma Tributária: alíquota do IBS estadual.'
                      ibs_uf_valor:
                        type: number
                        description: 'Reforma Tributária: valor do IBS estadual.'
                      ibs_mun_aliquota:
                        type: number
                        description: 'Reforma Tributária: alíquota do IBS municipal.'
                      ibs_mun_valor:
                        type: number
                        description: 'Reforma Tributária: valor do IBS municipal.'
                    required:
                    - numero_item
                    - codigo_produto
                    - descricao
                    - cfop
                    - codigo_ncm
                    - quantidade_comercial
                    - valor_unitario_comercial
                    - valor_bruto
                formas_pagamento:
                  type: array
                  description: Formas de pagamento (0 a 100), comum a NF-e e NFC-e.
                  items:
                    type: object
                    properties:
                      indicador_pagamento:
                        type: integer
                        description: 0 à vista, 1 a prazo.
                        enum: &id011
                        - 0
                        - 1
                      forma_pagamento:
                        type: string
                        description: 'Meio de pagamento (tPag): 01 dinheiro, 03 crédito, 04 débito, 15 boleto, 17 Pix dinâmico,
                          20 Pix estático, 90 sem pagamento, 99 outros, entre outros.'
                        enum: &id012
                        - '01'
                        - '02'
                        - '03'
                        - '04'
                        - '05'
                        - '10'
                        - '11'
                        - '12'
                        - '13'
                        - '14'
                        - '15'
                        - '16'
                        - '17'
                        - '18'
                        - '19'
                        - '20'
                        - '21'
                        - '22'
                        - '23'
                        - '24'
                        - '90'
                        - '91'
                        - '99'
                      descricao_pagamento:
                        type: string
                        description: Descrição do meio quando forma_pagamento = 99.
                      valor_pagamento:
                        type: number
                        description: Valor pago nesse meio.
              required:
              - natureza_operacao
              - data_emissao
              - tipo_documento
              - finalidade_emissao
              - items
            example: &id013
              natureza_operacao: Venda de mercadoria
              data_emissao: '2026-09-17T10:00:00-03:00'
              tipo_documento: 1
              finalidade_emissao: 1
              local_destino: 1
              consumidor_final: 1
              presenca_comprador: 2
              cnpj_emitente: 00000000000191
              nome_destinatario: Cliente Exemplo
              cpf_destinatario: '00000000000'
              indicador_inscricao_estadual_destinatario: 9
              logradouro_destinatario: Rua Exemplo
              numero_destinatario: '100'
              bairro_destinatario: Centro
              municipio_destinatario: São Paulo
              uf_destinatario: SP
              cep_destinatario: '01001000'
              pais_destinatario: Brasil
              email_destinatario: cliente@example.com
              modalidade_frete: 9
              valor_produtos: 100.0
              valor_total: 100.0
              items:
              - numero_item: 1
                codigo_produto: SKU-001
                descricao: Produto de exemplo
                cfop: '5102'
                codigo_ncm: '61091000'
                unidade_comercial: UN
                quantidade_comercial: 1
                valor_unitario_comercial: 100.0
                unidade_tributavel: UN
                quantidade_tributavel: 1
                valor_unitario_tributavel: 100.0
                valor_bruto: 100.0
                icms_origem: 0
                icms_situacao_tributaria: '102'
                pis_situacao_tributaria: '07'
                cofins_situacao_tributaria: '07'
              formas_pagamento:
              - forma_pagamento: '17'
                valor_pagamento: 100.0
  /v2/nfe/{referencia}:
    get:
      operationId: focus-nfe__nota_fiscal__consultar_status__nfe
      summary: NFe > Consultar
      description: 'Retorna a situação da NF-e emitida com a ref: processando, autorizada (com chave, número, série e caminhos
        de XML/DANFE), cancelada ou com erro (status_sefaz/mensagem_sefaz e lista de erros).'
      tags:
      - nfe
      x-confianca: verificado
      x-fonte-url: https://doc.focusnfe.com.br/reference/consultar_nfe
      x-entidade-canonica: NotaFiscal
      x-acao-canonica: consultar_status
      parameters:
      - name: referencia
        in: path
        required: true
        description: Valor de ref usado na emissão do NF-e (identificador do seu sistema).
        schema:
          type: string
          description: Valor de ref usado na emissão do NF-e (identificador do seu sistema).
      - name: completa
        in: query
        required: false
        description: Com 1, a resposta inclui os dados completos da requisição e do protocolo.
        schema:
          type: integer
          description: Com 1, a resposta inclui os dados completos da requisição e do protocolo.
          enum: &id014
          - 0
          - 1
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              example:
                cnpj_emitente: 00000000000191
                ref: pedido123
                status: autorizado
                status_sefaz: '100'
                mensagem_sefaz: Autorizado o uso da NF-e
                chave_nfe: NFe35260900000000000191550010000000011000000010
                numero: '1'
                serie: '1'
                caminho_xml_nota_fiscal: /arquivos_development/00000000000191/202609/XMLs/<<CHAVE>>-nfe.xml
                caminho_danfe: /arquivos_development/00000000000191/202609/DANFEs/<<CHAVE>>.pdf
        '401':
          description: Não autenticado
          content:
            text/html:
              schema:
                type: string
        '404':
          description: Referência/chave/ID inexistente para este token ou ambiente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: nao_encontrado
                mensagem: Nota fiscal não encontrada.
        '429':
          description: Mais de 100 requisições por minuto no mesmo token (doc legada oficial) ou, como observado em teste,
            várias autenticações falhas do mesmo IP (codigo limite_excedido).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: ''
                mensagem: Too many requests
    delete:
      operationId: focus-nfe__nota_fiscal__cancelar__nfe
      summary: NFe > Cancelar
      description: Registra o evento de cancelamento de uma NF-e autorizada. A resposta é síncrona com status cancelado ou
        erro_cancelamento e o caminho do XML do evento.
      tags:
      - nfe
      x-confianca: verificado
      x-fonte-url: https://doc.focusnfe.com.br/reference/cancelar_nfe
      x-entidade-canonica: NotaFiscal
      x-acao-canonica: cancelar
      parameters:
      - name: referencia
        in: path
        required: true
        description: Valor de ref usado na emissão do NF-e (identificador do seu sistema).
        schema:
          type: string
          description: Valor de ref usado na emissão do NF-e (identificador do seu sistema).
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              example:
                status: cancelado
                status_sefaz: '135'
                mensagem_sefaz: Evento registrado e vinculado a NF-e
                caminho_xml_cancelamento: /arquivos_development/00000000000191/202609/XMLs/<<CHAVE>>-can.xml
        '400':
          description: Justificativa ausente/curta.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: requisicao_invalida
                mensagem: Parâmetro "justificativa" deve ter entre 15 e 255 caracteres.
        '401':
          description: Não autenticado
          content:
            text/html:
              schema:
                type: string
        '404':
          description: Referência/chave/ID inexistente para este token ou ambiente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: nao_encontrado
                mensagem: Nota fiscal não encontrada.
        '415':
          description: Corpo vazio ou sem Content-Type JSON.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: formato_invalido
                mensagem: Recebida requisição vazia quando eram esperados dados.
        '422':
          description: Operação exige documento autorizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: nfe_nao_autorizada
                mensagem: Nota fiscal não autorizada
        '429':
          description: Mais de 100 requisições por minuto no mesmo token (doc legada oficial) ou, como observado em teste,
            várias autenticações falhas do mesmo IP (codigo limite_excedido).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: ''
                mensagem: Too many requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                justificativa:
                  type: string
                  description: Motivo do cancelamento, entre 15 e 255 caracteres.
                  maxLength: 255
                  minLength: 15
              required:
              - justificativa
            example:
              justificativa: Pedido cancelado pelo cliente antes do envio
  /v2/nfe/{referencia}/carta_correcao:
    post:
      operationId: focus-nfe__nota_fiscal__corrigir__nfe
      summary: NFe > Emitir Carta de Correção
      description: Registra uma Carta de Correção Eletrônica (CC-e) na NF-e autorizada. Cada nova carta substitui a anterior,
        então o texto deve trazer todas as correções.
      tags:
      - nfe
      x-confianca: verificado
      x-fonte-url: https://doc.focusnfe.com.br/reference/emitir_carta_correcao
      x-entidade-canonica: NotaFiscal
      x-acao-canonica: corrigir
      parameters:
      - name: referencia
        in: path
        required: true
        description: Valor de ref usado na emissão do NF-e (identificador do seu sistema).
        schema:
          type: string
          description: Valor de ref usado na emissão do NF-e (identificador do seu sistema).
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              example:
                status: autorizado
                status_sefaz: '135'
                mensagem_sefaz: Evento registrado e vinculado a NF-e
                numero_carta_correcao: 1
        '400':
          description: Texto fora do tamanho.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: requisicao_invalida
                mensagem: Parâmetro "correcao" deve ter entre 15 e 1000 caracteres.
        '401':
          description: Não autenticado
          content:
            text/html:
              schema:
                type: string
        '404':
          description: Referência/chave/ID inexistente para este token ou ambiente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: nao_encontrado
                mensagem: Nota fiscal não encontrada.
        '415':
          description: Corpo vazio ou sem Content-Type JSON.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: formato_invalido
                mensagem: Recebida requisição vazia quando eram esperados dados.
        '429':
          description: Mais de 100 requisições por minuto no mesmo token (doc legada oficial) ou, como observado em teste,
            várias autenticações falhas do mesmo IP (codigo limite_excedido).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: ''
                mensagem: Too many requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                correcao:
                  type: string
                  description: Texto da correção, de 15 a 1000 caracteres.
                  maxLength: 1000
                  minLength: 15
                data_evento:
                  type: string
                  format: date-time
                  description: Data/hora do evento; padrão = agora.
              required:
              - correcao
            example:
              correcao: Corrigir o complemento do endereço do destinatário para Sala 2
  /v2/nfe/inutilizacao:
    post:
      operationId: focus-nfe__nota_fiscal__inutilizar__nfe
      summary: NFe > Inutilizar Numeração
      description: Pede à SEFAZ a inutilização de uma faixa de números de NF-e que não foram usados. Resposta síncrona com
        protocolo e caminho do XML.
      tags:
      - nfe
      x-confianca: verificado
      x-fonte-url: https://doc.focusnfe.com.br/reference/inutilizar_numeracao
      x-entidade-canonica: NotaFiscal
      x-acao-canonica: inutilizar
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              example:
                status: autorizado
                status_sefaz: '102'
                mensagem_sefaz: Inutilizacao de numero homologado
                modelo: '55'
                serie: '1'
                numero_inicial: '10'
                numero_final: '12'
        '400':
          description: Faltou identificar o emitente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: requisicao_invalida
                mensagem: Parâmetros "cnpj" ou "cpf" não informados.
        '401':
          description: Não autenticado
          content:
            text/html:
              schema:
                type: string
        '415':
          description: Corpo vazio ou sem Content-Type JSON.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: formato_invalido
                mensagem: Recebida requisição vazia quando eram esperados dados.
        '422':
          description: Empresa não habilitada para este documento no token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: permissao_negada
                mensagem: CNPJ do emitente não autorizado.
        '429':
          description: Mais de 100 requisições por minuto no mesmo token (doc legada oficial) ou, como observado em teste,
            várias autenticações falhas do mesmo IP (codigo limite_excedido).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: ''
                mensagem: Too many requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cnpj:
                  type: string
                  description: CNPJ do emitente dono da série.
                serie:
                  type: string
                  description: Série da faixa.
                numero_inicial:
                  type: string
                  description: Primeiro número a inutilizar.
                numero_final:
                  type: string
                  description: Último número a inutilizar.
                justificativa:
                  type: string
                  description: Motivo da inutilização (15 a 255 caracteres, regra SEFAZ).
                  maxLength: 255
                  minLength: 15
              required:
              - cnpj
              - serie
              - numero_inicial
              - numero_final
              - justificativa
            example:
              cnpj: 00000000000191
              serie: '1'
              numero_inicial: '10'
              numero_final: '12'
              justificativa: Falha no sistema gerou salto de numeracao
  /v2/nfe/inutilizacoes:
    get:
      operationId: focus-nfe__nota_fiscal__listar__inutilizacoes_nfe
      summary: NFe > Consultar Inutilizações
      description: Lista as inutilizações de NF-e registradas para um CNPJ/CPF, com filtros por período de recebimento e faixa
        numérica.
      tags:
      - nfe
      x-confianca: verificado
      x-fonte-url: https://doc.focusnfe.com.br/reference/consultar_inutilizacoes
      x-entidade-canonica: NotaFiscal
      x-acao-canonica: listar
      parameters:
      - name: cnpj
        in: query
        required: false
        description: CNPJ do emitente (informe cnpj ou cpf).
        schema:
          type: string
          description: CNPJ do emitente (informe cnpj ou cpf).
      - name: cpf
        in: query
        required: false
        description: CPF do emitente.
        schema:
          type: string
          description: CPF do emitente.
      - name: data_recebimento_inicial
        in: query
        required: false
        description: Início do período.
        schema:
          type: string
          format: date
          description: Início do período.
      - name: data_recebimento_final
        in: query
        required: false
        description: Fim do período.
        schema:
          type: string
          format: date
          description: Fim do período.
      - name: numero_inicial
        in: query
        required: false
        description: Filtro de número inicial.
        schema:
          type: integer
          description: Filtro de número inicial.
      - name: numero_final
        in: query
        required: false
        description: Filtro de número final.
        schema:
          type: integer
          description: Filtro de número final.
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              example:
              - status: autorizado
                modelo: '55'
                serie: '1'
                numero_inicial: '10'
                numero_final: '12'
                protocolo_sefaz: <<PROTOCOLO>>
        '400':
          description: Filtro de emitente ausente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: requisicao_invalida
                mensagem: Parâmetros "cnpj" ou "cpf" não informados.
        '401':
          description: Não autenticado
          content:
            text/html:
              schema:
                type: string
        '429':
          description: Mais de 100 requisições por minuto no mesmo token (doc legada oficial) ou, como observado em teste,
            várias autenticações falhas do mesmo IP (codigo limite_excedido).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: ''
                mensagem: Too many requests
  /v2/nfe/{referencia}/email:
    post:
      operationId: focus-nfe__nota_fiscal__enviar__email_nfe
      summary: NFe > Enviar NFe por Email
      description: Reenvia por e-mail o XML e o DANFE de uma NF-e autorizada para os endereços informados.
      tags:
      - nfe
      x-confianca: verificado
      x-fonte-url: https://doc.focusnfe.com.br/reference/enviar_email_nfe
      x-entidade-canonica: NotaFiscal
      x-acao-canonica: enviar
      parameters:
      - name: referencia
        in: path
        required: true
        description: Valor de ref usado na emissão do NF-e (identificador do seu sistema).
        schema:
          type: string
          description: Valor de ref usado na emissão do NF-e (identificador do seu sistema).
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              example:
                mensagem: <<confirmação>>
        '400':
          description: Lista vazia.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: requisicao_invalida
                mensagem: Parâmetro "emails" não informado.
        '401':
          description: Não autenticado
          content:
            text/html:
              schema:
                type: string
        '404':
          description: Referência/chave/ID inexistente para este token ou ambiente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: nao_encontrado
                mensagem: Nota fiscal não encontrada.
        '415':
          description: Corpo vazio ou sem Content-Type JSON.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: formato_invalido
                mensagem: Recebida requisição vazia quando eram esperados dados.
        '429':
          description: Mais de 100 requisições por minuto no mesmo token (doc legada oficial) ou, como observado em teste,
            várias autenticações falhas do mesmo IP (codigo limite_excedido).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: ''
                mensagem: Too many requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                emails:
                  type: array
                  description: Lista de e-mails de destino.
                  items:
                    type: string
              required:
              - emails
            example:
              emails:
              - financeiro@example.com
  /{caminho_arquivo}:
    get:
      operationId: focus-nfe__nota_fiscal__baixar_arquivo__nfe
      summary: Download por caminho_xml_nota_fiscal / caminho_danfe
      description: Baixa o XML autorizado, o DANFE (PDF) ou o XML de evento usando o caminho relativo devolvido pela consulta
        (caminho_xml_nota_fiscal, caminho_danfe, caminho_xml_cancelamento, caminho_xml_carta_correcao). A URL é a base do
        ambiente + o caminho.
      tags:
      - nfe
      x-confianca: verificado
      x-fonte-url: https://github.com/FocusNFe/api-doc/blob/master/source/includes/_nfe.md
      x-entidade-canonica: NotaFiscal
      x-acao-canonica: baixar_arquivo
      parameters:
      - name: caminho_arquivo
        in: path
        required: true
        description: Caminho relativo recebido na consulta, sem a barra inicial (contém barras).
        schema:
          type: string
          description: Caminho relativo recebido na consulta, sem a barra inicial (contém barras).
      responses:
        '200':
          description: Sucesso
          content:
            application/pdf:
              example: {}
        '401':
          description: Não autenticado
          content:
            text/html:
              schema:
                type: string
        '404':
          description: Caminho digitado errado ou de outro ambiente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: ''
                mensagem: Arquivo não encontrado
  /v2/nfe/danfe:
    post:
      operationId: focus-nfe__nota_fiscal__baixar_arquivo__previa_danfe_nfe
      summary: NFe > Pré-visualização de DANFe
      description: Gera um PDF de pré-visualização do DANFE a partir do mesmo JSON da emissão, sem enviar nada à SEFAZ (aceita
        também XML).
      tags:
      - nfe
      x-confianca: verificado
      x-fonte-url: https://doc.focusnfe.com.br/reference/previsualizar_danfe
      x-entidade-canonica: NotaFiscal
      x-acao-canonica: baixar_arquivo
      responses:
        '200':
          description: Sucesso
          content:
            application/pdf:
              example: {}
        '401':
          description: Não autenticado
          content:
            text/html:
              schema:
                type: string
        '429':
          description: Mais de 100 requisições por minuto no mesmo token (doc legada oficial) ou, como observado em teste,
            várias autenticações falhas do mesmo IP (codigo limite_excedido).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: ''
                mensagem: Too many requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                natureza_operacao:
                  type: string
                  description: 'Texto da natureza da operação (ex.: venda, devolução).'
                  maxLength: 60
                data_emissao:
                  type: string
                  format: date-time
                  description: Data/hora de emissão com fuso (ISO-8601).
                data_entrada_saida:
                  type: string
                  format: date-time
                  description: Data/hora de saída (nota de saída) ou entrada (nota de entrada).
                tipo_documento:
                  type: integer
                  description: 0 = entrada, 1 = saída.
                  enum: *id001
                finalidade_emissao:
                  type: integer
                  description: 1 normal, 2 complementar, 3 ajuste, 4 devolução.
                  enum: *id002
                local_destino:
                  type: integer
                  description: 1 operação interna, 2 interestadual, 3 exterior.
                  enum: *id003
                consumidor_final:
                  type: integer
                  description: 1 quando o destinatário é consumidor final.
                  enum: *id004
                presenca_comprador:
                  type: integer
                  description: Indicador de presença do comprador (tag indPres).
                  enum: *id005
                serie:
                  type: integer
                  description: Série; omita para a API numerar automaticamente (recomendado).
                numero:
                  type: integer
                  description: Número; omita para numeração automática.
                cnpj_emitente:
                  type: string
                  description: CNPJ do emitente (ou cpf_emitente para produtor rural). Deve estar cadastrado e habilitado
                    na conta.
                cpf_emitente:
                  type: string
                  description: CPF do emitente pessoa física (produtor rural).
                inscricao_estadual_emitente:
                  type: string
                  description: IE do emitente; padrão = cadastro.
                regime_tributario_emitente:
                  type: integer
                  description: 'CRT: 1 Simples Nacional, 2 Simples com excesso de sublimite, 3 Regime Normal, 4 MEI. Padrão
                    = cadastro.'
                  enum: *id006
                codigo_municipio_emitente:
                  type: integer
                  description: Código IBGE do município do emitente; padrão = cadastro.
                nome_destinatario:
                  type: string
                  description: Nome/razão social do destinatário.
                cnpj_destinatario:
                  type: string
                  description: CNPJ do destinatário (use cpf_destinatario para PF).
                cpf_destinatario:
                  type: string
                  description: CPF do destinatário pessoa física.
                inscricao_estadual_destinatario:
                  type: string
                  description: IE do destinatário, quando contribuinte.
                indicador_inscricao_estadual_destinatario:
                  type: integer
                  description: 1 contribuinte ICMS, 2 isento, 9 não contribuinte.
                  enum: *id007
                logradouro_destinatario:
                  type: string
                  description: Logradouro do destinatário.
                numero_destinatario:
                  type: string
                  description: Número do endereço.
                bairro_destinatario:
                  type: string
                  description: Bairro.
                municipio_destinatario:
                  type: string
                  description: Nome do município.
                codigo_municipio_destinatario:
                  type: integer
                  description: Código IBGE do município do destinatário.
                uf_destinatario:
                  type: string
                  description: UF do destinatário.
                cep_destinatario:
                  type: string
                  description: CEP do destinatário, só dígitos.
                pais_destinatario:
                  type: string
                  description: País do destinatário.
                telefone_destinatario:
                  type: string
                  description: Telefone do destinatário.
                email_destinatario:
                  type: string
                  description: E-mail para envio automático do XML/DANFE.
                modalidade_frete:
                  type: integer
                  description: 0 por conta do emitente, 1 do destinatário, 2 de terceiros, 9 sem frete (enum do OpenAPI).
                  enum: *id008
                valor_frete:
                  type: number
                  description: Total de frete.
                valor_seguro:
                  type: number
                  description: Total de seguro.
                valor_desconto:
                  type: number
                  description: Total de descontos.
                valor_outras_despesas:
                  type: number
                  description: Outras despesas acessórias.
                valor_produtos:
                  type: number
                  description: Soma dos produtos.
                valor_total:
                  type: number
                  description: Total da nota; se omitido, a API calcula a partir de produtos, descontos, ST, frete, seguro
                    etc.
                informacoes_adicionais_contribuinte:
                  type: string
                  description: Texto livre de informações complementares.
                items:
                  type: array
                  description: Itens da nota (1 a 990). A página de campos chama a coleção de 'itens', mas o JSON usa 'items'.
                  items:
                    type: object
                    properties:
                      numero_item:
                        type: integer
                        description: Sequência do item, começando em 1.
                      codigo_produto:
                        type: string
                        description: Código interno do produto.
                      descricao:
                        type: string
                        description: Descrição do produto.
                      cfop:
                        type: string
                        description: CFOP do item.
                        pattern: ^[1-7][0-9]{3}$
                      codigo_ncm:
                        type: string
                        description: NCM de 8 dígitos.
                        pattern: ^[0-9]{8}$
                      cest:
                        type: string
                        description: CEST (7 dígitos), quando sujeito a ST.
                      codigo_barras_comercial:
                        type: string
                        description: GTIN/EAN comercial.
                      unidade_comercial:
                        type: string
                        description: Unidade comercial (UN, KG...).
                      quantidade_comercial:
                        type: number
                        description: Quantidade comercial.
                      valor_unitario_comercial:
                        type: number
                        description: Preço unitário comercial.
                      unidade_tributavel:
                        type: string
                        description: Unidade tributável.
                      quantidade_tributavel:
                        type: number
                        description: Quantidade tributável.
                      valor_unitario_tributavel:
                        type: number
                        description: Valor unitário tributável.
                      valor_bruto:
                        type: number
                        description: Quantidade × valor unitário.
                      inclui_no_total:
                        type: integer
                        description: 1 se o item compõe o total da nota.
                        enum: *id009
                      icms_origem:
                        type: integer
                        description: Origem da mercadoria (0 a 8).
                      icms_situacao_tributaria:
                        type: string
                        description: 'CST (regime normal: 00, 10, 20, 40...) ou CSOSN (Simples: 101, 102, 500, 900...). Valores
                          como 10_partilha também existem. Campo obrigatório na página de campos; cada código exige campos
                          adicionais.'
                      icms_modalidade_base_calculo:
                        type: integer
                        description: Modalidade da BC do ICMS (0 MVA, 1 pauta, 2 preço tabelado, 3 valor da operação).
                        enum: *id010
                      icms_base_calculo:
                        type: number
                        description: Base de cálculo do ICMS.
                      icms_aliquota:
                        type: number
                        description: Alíquota do ICMS (%).
                      icms_valor:
                        type: number
                        description: Valor do ICMS.
                      pis_situacao_tributaria:
                        type: string
                        description: CST do PIS.
                      cofins_situacao_tributaria:
                        type: string
                        description: CST da COFINS.
                      ibs_cbs_situacao_tributaria:
                        type: string
                        description: 'Reforma Tributária: CST do IBS/CBS (3 caracteres). Marcado como obrigatório na página
                          de campos; o guia oficial diz que é exigido de Lucro Real/Presumido e não do Simples/MEI por ora.'
                        maxLength: 3
                      ibs_cbs_classificacao_tributaria:
                        type: string
                        description: 'Reforma Tributária: cClassTrib (6 caracteres).'
                        maxLength: 6
                      ibs_cbs_base_calculo:
                        type: number
                        description: 'Reforma Tributária: base de cálculo do IBS/CBS.'
                      cbs_aliquota:
                        type: number
                        description: 'Reforma Tributária: alíquota da CBS.'
                      cbs_valor:
                        type: number
                        description: 'Reforma Tributária: valor da CBS.'
                      ibs_uf_aliquota:
                        type: number
                        description: 'Reforma Tributária: alíquota do IBS estadual.'
                      ibs_uf_valor:
                        type: number
                        description: 'Reforma Tributária: valor do IBS estadual.'
                      ibs_mun_aliquota:
                        type: number
                        description: 'Reforma Tributária: alíquota do IBS municipal.'
                      ibs_mun_valor:
                        type: number
                        description: 'Reforma Tributária: valor do IBS municipal.'
                    required:
                    - numero_item
                    - codigo_produto
                    - descricao
                    - cfop
                    - codigo_ncm
                    - quantidade_comercial
                    - valor_unitario_comercial
                    - valor_bruto
                formas_pagamento:
                  type: array
                  description: Formas de pagamento (0 a 100), comum a NF-e e NFC-e.
                  items:
                    type: object
                    properties:
                      indicador_pagamento:
                        type: integer
                        description: 0 à vista, 1 a prazo.
                        enum: *id011
                      forma_pagamento:
                        type: string
                        description: 'Meio de pagamento (tPag): 01 dinheiro, 03 crédito, 04 débito, 15 boleto, 17 Pix dinâmico,
                          20 Pix estático, 90 sem pagamento, 99 outros, entre outros.'
                        enum: *id012
                      descricao_pagamento:
                        type: string
                        description: Descrição do meio quando forma_pagamento = 99.
                      valor_pagamento:
                        type: number
                        description: Valor pago nesse meio.
              required:
              - natureza_operacao
              - data_emissao
              - tipo_documento
              - finalidade_emissao
              - items
            example: *id013
  /v2/nfe/{referencia}/evento:
    post:
      operationId: focus-nfe__nota_fiscal__emitir__evento_nfe
      summary: NFe > Emitir Evento
      description: Registra eventos da NF-e ligados à Reforma Tributária e a benefícios fiscais (tipo_evento), como prorrogação
        de suspensão de ICMS, liberação de crédito presumido, atualização de previsão de entrega e destinação para consumo
        pessoal.
      tags:
      - nfe
      x-confianca: verificado
      x-fonte-url: https://doc.focusnfe.com.br/reference/emitir_evento_nfe
      x-entidade-canonica: NotaFiscal
      x-acao-canonica: emitir
      parameters:
      - name: referencia
        in: path
        required: true
        description: Valor de ref usado na emissão do NF-e (identificador do seu sistema).
        schema:
          type: string
          description: Valor de ref usado na emissão do NF-e (identificador do seu sistema).
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              example:
                evento: evento_atualizacao_previsao_entrega
                status: autorizado
                status_sefaz: '135'
        '400':
          description: Corpo sem tipo_evento.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: requisicao_invalida
                mensagem: Parâmetro "tipo_evento" não informado.
        '401':
          description: Não autenticado
          content:
            text/html:
              schema:
                type: string
        '422':
          description: Nota cancelada não aceita evento.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: already_processed
                mensagem: A nota fiscal foi cancelada.
        '429':
          description: Mais de 100 requisições por minuto no mesmo token (doc legada oficial) ou, como observado em teste,
            várias autenticações falhas do mesmo IP (codigo limite_excedido).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: ''
                mensagem: Too many requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tipo_evento:
                  type: string
                  description: Evento a registrar.
                  enum:
                  - prorrogacao_suspensao_icms
                  - liberacao_credito_presumido
                  - importacao_sem_isencao_alc_zfm
                  - ocorrencia_transporte_fornecedor
                  - nao_fornecimento_pagamento_antecipado
                  - atualizacao_previsao_entrega
                  - destinacao_consumo_pessoal
                itens_prorrogacao_suspensao_icms:
                  type: array
                  description: Itens (numero_item, quantidade_item) para prorrogação.
                  items:
                    type: string
                itens_importacao_sem_isencao_alc_zfm:
                  type: array
                  description: Itens com numero_item, valor_ibs, valor_cbs, quantidade, unidade.
                  items:
                    type: string
                itens_ocorrencia_transporte_fornecedor:
                  type: array
                  description: Itens com valores de IBS/CBS e créditos (valor_credito_ibs, valor_credito_cbs).
                  items:
                    type: string
                itens_nao_fornecimento_pagamento_antecipado:
                  type: array
                  description: Itens com numero_item, valor_ibs, valor_cbs, quantidade, unidade.
                  items:
                    type: string
                data_previsao_entrega:
                  type: string
                  format: date
                  description: Nova data prevista (evento atualizacao_previsao_entrega).
                itens_destinacao_consumo_pessoal:
                  type: array
                  description: Itens com valores de IBS/CBS, chave_acesso e numero_item_dfe_referenciado.
                  items:
                    type: string
              required:
              - tipo_evento
            example:
              tipo_evento: atualizacao_previsao_entrega
              data_previsao_entrega: '2026-10-01'
  /v2/nfe/{referencia}/hook:
    post:
      operationId: focus-nfe__webhook__enviar__reenvio_nfe
      summary: NFe > Solicitar reenvio de notificação de NFe
      description: Pede à Focus NFe que dispare de novo o webhook cadastrado para a NF-e informada.
      tags:
      - nfe
      x-confianca: verificado
      x-fonte-url: https://doc.focusnfe.com.br/reference/reenviar_hook_nfe
      x-entidade-canonica: Webhook
      x-acao-canonica: enviar
      parameters:
      - name: referencia
        in: path
        required: true
        description: Valor de ref usado na emissão do NF-e (identificador do seu sistema).
        schema:
          type: string
          description: Valor de ref usado na emissão do NF-e (identificador do seu sistema).
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              example: {}
        '401':
          description: Não autenticado
          content:
            text/html:
              schema:
                type: string
        '404':
          description: Referência/chave/ID inexistente para este token ou ambiente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: nao_encontrado
                mensagem: Nota fiscal não encontrada.
        '429':
          description: Mais de 100 requisições por minuto no mesmo token (doc legada oficial) ou, como observado em teste,
            várias autenticações falhas do mesmo IP (codigo limite_excedido).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: ''
                mensagem: Too many requests
  /v2/nfce:
    post:
      operationId: focus-nfe__nota_fiscal__emitir__nfce
      summary: NFCe > Emitir
      description: 'Emite a NFC-e (modelo 65) de forma síncrona: a mesma chamada devolve autorizado ou erro_autorizacao, com
        chave, caminhos do XML/DANFE, qrcode_url e url_consulta_nf. Suporta contingência offline com forma_emissao=offline.'
      tags:
      - nfce
      x-confianca: verificado
      x-fonte-url: https://doc.focusnfe.com.br/reference/emitir_nfce
      x-entidade-canonica: NotaFiscal
      x-acao-canonica: emitir
      parameters:
      - name: ref
        in: query
        required: true
        description: Identificador único do NFC-e no seu sistema; será usado nas consultas, cancelamento e eventos.
        schema:
          type: string
          description: Identificador único do NFC-e no seu sistema; será usado nas consultas, cancelamento e eventos.
      - name: completa
        in: query
        required: false
        description: Com 1, a resposta inclui os dados completos da requisição e do protocolo.
        schema:
          type: integer
          description: Com 1, a resposta inclui os dados completos da requisição e do protocolo.
          enum: *id014
      - name: forma_emissao
        in: query
        required: false
        description: Use 'offline' para emissão em contingência manual (exige numero, serie e codigo_unico no corpo).
        schema:
          type: string
          description: Use 'offline' para emissão em contingência manual (exige numero, serie e codigo_unico no corpo).
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              example:
                ref: venda789
                status: autorizado
                status_sefaz: '100'
                numero: '15'
                serie: '1'
        '400':
          description: Faltou ?ref= na URL de emissão.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: requisicao_invalida
                mensagem: Parâmetro "ref" não informado.
        '401':
          description: Não autenticado
          content:
            text/html:
              schema:
                type: string
        '403':
          description: O CNPJ não está cadastrado/habilitado para o token usado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: permissao_negada
                mensagem: CNPJ do emitente não autorizado.
        '422':
          description: CSC/ID token do ambiente não cadastrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: ambiente_nao_configurado
                mensagem: Ambiente não configurado para emissão de NFCe
        '415':
          description: Corpo vazio ou sem Content-Type JSON.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: formato_invalido
                mensagem: Recebida requisição vazia quando eram esperados dados.
        '429':
          description: Mais de 100 requisições por minuto no mesmo token (doc legada oficial) ou, como observado em teste,
            várias autenticações falhas do mesmo IP (codigo limite_excedido).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: ''
                mensagem: Too many requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cnpj_emitente:
                  type: string
                  description: CNPJ do emitente habilitado para NFC-e.
                data_emissao:
                  type: string
                  format: date-time
                  description: Data/hora de emissão.
                natureza_operacao:
                  type: string
                  description: Natureza da operação.
                presenca_comprador:
                  type: string
                  description: Indicador de presença (tag indPres); NFC-e é operação presencial ou entrega a domicílio.
                modalidade_frete:
                  type: string
                  description: Modalidade do frete (9 = sem frete).
                local_destino:
                  type: string
                  description: Destino da operação (1 = interna).
                indicador_inscricao_estadual_destinatario:
                  type: string
                  description: Indicador de IE do consumidor, se identificado.
                nome_destinatario:
                  type: string
                  description: Nome do consumidor (opcional).
                cpf_destinatario:
                  type: string
                  description: CPF do consumidor (CPF na nota).
                cnpj_destinatario:
                  type: string
                  description: CNPJ do consumidor PJ.
                informacoes_adicionais_contribuinte:
                  type: string
                  description: Informações complementares.
                numero:
                  type: string
                  description: Número (obrigatório em contingência offline).
                serie:
                  type: string
                  description: Série (obrigatória em contingência offline).
                codigo_unico:
                  type: string
                  description: Código numérico da chave, usado em contingência offline.
                items:
                  type: array
                  description: Itens da NFC-e.
                  items:
                    type: object
                    properties:
                      numero_item:
                        type: string
                        description: Sequência do item.
                      codigo_produto:
                        type: string
                        description: Código do produto.
                      descricao:
                        type: string
                        description: Descrição.
                      codigo_ncm:
                        type: string
                        description: NCM.
                        pattern: ^[0-9]{8}$
                      cfop:
                        type: string
                        description: CFOP (vendas internas, geralmente 5xxx).
                      quantidade_comercial:
                        type: number
                        description: Quantidade comercial.
                      quantidade_tributavel:
                        type: number
                        description: Quantidade tributável.
                      valor_unitario_comercial:
                        type: number
                        description: Preço unitário.
                      valor_unitario_tributavel:
                        type: number
                        description: Valor unitário tributável.
                      valor_bruto:
                        type: number
                        description: Valor bruto do item.
                      valor_desconto:
                        type: number
                        description: Desconto do item.
                      unidade_comercial:
                        type: string
                        description: Unidade comercial.
                      unidade_tributavel:
                        type: string
                        description: Unidade tributável.
                      icms_origem:
                        type: string
                        description: Origem da mercadoria.
                      icms_situacao_tributaria:
                        type: string
                        description: CST ou CSOSN do ICMS.
                      valor_total_tributos:
                        type: number
                        description: Tributos aproximados (Lei da Transparência).
                    required:
                    - numero_item
                    - codigo_produto
                    - descricao
                    - codigo_ncm
                    - cfop
                    - quantidade_comercial
                    - quantidade_tributavel
                    - valor_unitario_comercial
                    - valor_unitario_tributavel
                    - valor_bruto
                    - unidade_comercial
                    - unidade_tributavel
                    - icms_origem
                    - icms_situacao_tributaria
                formas_pagamento:
                  type: array
                  description: Pagamentos (obrigatório na NFC-e).
                  items:
                    type: object
                    properties:
                      forma_pagamento:
                        type: string
                        description: Código tPag (01 dinheiro, 03 crédito, 04 débito, 17 Pix dinâmico...).
                      valor_pagamento:
                        type: number
                        description: Valor pago.
                      tipo_integracao:
                        type: string
                        description: 1 integrado (TEF/e-commerce), 2 não integrado (POS).
                      nome_credenciadora:
                        type: string
                        description: Credenciadora do cartão.
                      bandeira_operadora:
                        type: string
                        description: Bandeira do cartão.
                      numero_autorizacao:
                        type: string
                        description: Código de autorização da transação.
                    required:
                    - forma_pagamento
                    - valor_pagamento
              required:
              - cnpj_emitente
              - data_emissao
              - natureza_operacao
              - presenca_comprador
              - modalidade_frete
              - local_destino
              - items
              - formas_pagamento
            example:
              cnpj_emitente: 00000000000191
              data_emissao: '2026-09-17T10:00:00-03:00'
              natureza_operacao: Venda ao consumidor
              presenca_comprador: '1'
              modalidade_frete: '9'
              local_destino: '1'
              items:
              - numero_item: '1'
                codigo_produto: SKU-001
                descricao: Produto de exemplo
                codigo_ncm: '61091000'
                cfop: '5102'
                quantidade_comercial: 1
                quantidade_tributavel: 1
                valor_unitario_comercial: 50.0
                valor_unitario_tributavel: 50.0
                valor_bruto: 50.0
                unidade_comercial: UN
                unidade_tributavel: UN
                icms_origem: '0'
                icms_situacao_tributaria: '102'
              formas_pagamento:
              - forma_pagamento: '01'
                valor_pagamento: 50.0
  /v2/nfce/{referencia}:
    get:
      operationId: focus-nfe__nota_fiscal__consultar_status__nfce
      summary: NFCe > Consultar
      description: Retorna a situação da NFC-e (autorizado, erro_autorizacao, denegado, cancelado ou processando_autorizacao)
        com chave, protocolo, caminhos de arquivos e QR Code.
      tags:
      - nfce
      x-confianca: verificado
      x-fonte-url: https://doc.focusnfe.com.br/reference/consultar_nfce
      x-entidade-canonica: NotaFiscal
      x-acao-canonica: consultar_status
      parameters:
      - name: referencia
        in: path
        required: true
        description: Valor de ref usado na emissão do NFC-e (identificador do seu sistema).
        schema:
          type: string
          description: Valor de ref usado na emissão do NFC-e (identificador do seu sistema).
      - name: completa
        in: query
        required: false
        description: Com 1, a resposta inclui os dados completos da requisição e do protocolo.
        schema:
          type: integer
          description: Com 1, a resposta inclui os dados completos da requisição e do protocolo.
          enum: *id014
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              example:
                cnpj_emitente: 00000000000191
                ref: venda789
                status: processando_autorizacao
        '401':
          description: Não autenticado
          content:
            text/html:
              schema:
                type: string
        '403':
          description: O CNPJ não está cadastrado/habilitado para o token usado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: permissao_negada
                mensagem: CNPJ do emitente não autorizado.
        '404':
          description: Referência/chave/ID inexistente para este token ou ambiente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: nfce_nao_encontrada
                mensagem: NFC-e não encontrada.
        '429':
          description: Mais de 100 requisições por minuto no mesmo token (doc legada oficial) ou, como observado em teste,
            várias autenticações falhas do mesmo IP (codigo limite_excedido).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: ''
                mensagem: Too many requests
    delete:
      operationId: focus-nfe__nota_fiscal__cancelar__nfce
      summary: NFCe > Cancelar
      description: Cancela uma NFC-e autorizada; retorna cancelado ou erro_cancelamento com protocolo e caminho do XML de
        cancelamento.
      tags:
      - nfce
      x-confianca: verificado
      x-fonte-url: https://doc.focusnfe.com.br/reference/cancelar_nfce
      x-entidade-canonica: NotaFiscal
      x-acao-canonica: cancelar
      parameters:
      - name: referencia
        in: path
        required: true
        description: Valor de ref usado na emissão do NFC-e (identificador do seu sistema).
        schema:
          type: string
          description: Valor de ref usado na emissão do NFC-e (identificador do seu sistema).
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              example:
                status: cancelado
        '400':
          description: Justificativa fora do tamanho.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: requisicao_invalida
                mensagem: Parâmetro "justificativa" deve ter entre 15 e 255 caracteres
        '401':
          description: Não autenticado
          content:
            text/html:
              schema:
                type: string
        '403':
          description: O CNPJ não está cadastrado/habilitado para o token usado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: permissao_negada
                mensagem: CNPJ do emitente não autorizado.
        '404':
          description: Referência/chave/ID inexistente para este token ou ambiente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: nfce_nao_encontrada
                mensagem: NFC-e não encontrada.
        '415':
          description: Corpo vazio ou sem Content-Type JSON.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: formato_invalido
                mensagem: Recebida requisição vazia quando eram esperados dados.
        '422':
          description: NFC-e não autorizada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: nfe_nao_autorizada
                mensagem: Nota fiscal não autorizada
        '429':
          description: Mais de 100 requisições por minuto no mesmo token (doc legada oficial) ou, como observado em teste,
            várias autenticações falhas do mesmo IP (codigo limite_excedido).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: ''
                mensagem: Too many requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                justificativa:
                  type: string
                  description: Motivo do cancelamento, entre 15 e 255 caracteres.
                  maxLength: 255
                  minLength: 15
              required:
              - justificativa
            example:
              justificativa: Venda cancelada no caixa pelo cliente
  /v2/nfce/inutilizacao:
    post:
      operationId: focus-nfe__nota_fiscal__inutilizar__nfce
      summary: NFCe > Inutilizar numeração
      description: Inutiliza na SEFAZ uma faixa de números de NFC-e não utilizados (modelo 65).
      tags:
      - nfce
      x-confianca: verificado
      x-fonte-url: https://doc.focusnfe.com.br/reference/inutilizar_numeracao_nfce
      x-entidade-canonica: NotaFiscal
      x-acao-canonica: inutilizar
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              example:
                status: autorizado
                status_sefaz: '102'
                mensagem_sefaz: Inutilizacao de numero homologado
                modelo: '65'
        '400':
          description: Campo ausente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: requisicao_invalida
                mensagem: Parâmetro "serie" não informado
        '401':
          description: Não autenticado
          content:
            text/html:
              schema:
                type: string
        '403':
          description: O CNPJ não está cadastrado/habilitado para o token usado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: permissao_negada
                mensagem: CNPJ do emitente não autorizado.
        '415':
          description: Corpo vazio ou sem Content-Type JSON.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: formato_invalido
                mensagem: Recebida requisição vazia quando eram esperados dados.
        '429':
          description: Mais de 100 requisições por minuto no mesmo token (doc legada oficial) ou, como observado em teste,
            várias autenticações falhas do mesmo IP (codigo limite_excedido).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: ''
                mensagem: Too many requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cnpj:
                  type: string
                  description: CNPJ do emitente.
                serie:
                  type: string
                  description: Série.
                numero_inicial:
                  type: string
                  description: Número inicial.
                numero_final:
                  type: string
                  description: Número final.
                justificativa:
                  type: string
                  description: Motivo da inutilização.
              required:
              - cnpj
              - serie
              - numero_inicial
              - numero_final
              - justificativa
            example:
              cnpj: 00000000000191
              serie: '1'
              numero_inicial: '1'
              numero_final: '9'
              justificativa: Numeracao pulada por falha no PDV
  /v2/nfce/inutilizacoes:
    get:
      operationId: focus-nfe__nota_fiscal__listar__inutilizacoes_nfce
      summary: NFCe > Consultar inutilizações
      description: Lista inutilizações de NFC-e de um CNPJ/CPF com filtros de data e faixa.
      tags:
      - nfce
      x-confianca: verificado
      x-fonte-url: https://doc.focusnfe.com.br/reference/consultar_inutilizacoes_nfce
      x-entidade-canonica: NotaFiscal
      x-acao-canonica: listar
      parameters:
      - name: cnpj
        in: query
        required: false
        description: CNPJ (informe cnpj ou cpf).
        schema:
          type: string
          description: CNPJ (informe cnpj ou cpf).
      - name: cpf
        in: query
        required: false
        description: CPF.
        schema:
          type: string
          description: CPF.
      - name: data_recebimento_inicial
        in: query
        required: false
        description: Início do período.
        schema:
          type: string
          format: date
          description: Início do período.
      - name: data_recebimento_final
        in: query
        required: false
        description: Fim do período.
        schema:
          type: string
          format: date
          description: Fim do período.
      - name: numero_inicial
        in: query
        required: false
        description: Número inicial.
        schema:
          type: integer
          description: Número inicial.
      - name: numero_final
        in: query
        required: false
        description: Número final.
        schema:
          type: integer
          description: Número final.
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              example:
              - modelo: '65'
                serie: '1'
                numero_inicial: '1'
                numero_final: '9'
                status: autorizado
        '400':
          description: Filtro de emitente ausente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: requisicao_invalida
                mensagem: Parâmetro "cnpj" ou "cpf" inválidos ou não informados
        '401':
          description: Não autenticado
          content:
            text/html:
              schema:
                type: string
        '429':
          description: Mais de 100 requisições por minuto no mesmo token (doc legada oficial) ou, como observado em teste,
            várias autenticações falhas do mesmo IP (codigo limite_excedido).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: ''
                mensagem: Too many requests
  /v2/nfce/{referencia}/email:
    post:
      operationId: focus-nfe__nota_fiscal__enviar__email_nfce
      summary: NFCe > Enviar NFC-e por email
      description: Envia a NFC-e autorizada por e-mail ao consumidor.
      tags:
      - nfce
      x-confianca: verificado
      x-fonte-url: https://doc.focusnfe.com.br/reference/enviar_nfce_email
      x-entidade-canonica: NotaFiscal
      x-acao-canonica: enviar
      parameters:
      - name: referencia
        in: path
        required: true
        description: Valor de ref usado na emissão do NFC-e (identificador do seu sistema).
        schema:
          type: string
          description: Valor de ref usado na emissão do NFC-e (identificador do seu sistema).
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              example: {}
        '400':
          description: NFC-e não autorizada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: nfe_nao_autorizada
                mensagem: Nota fiscal não autorizada
        '401':
          description: Não autenticado
          content:
            text/html:
              schema:
                type: string
        '403':
          description: O CNPJ não está cadastrado/habilitado para o token usado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: permissao_negada
                mensagem: CNPJ do emitente não autorizado.
        '404':
          description: Referência/chave/ID inexistente para este token ou ambiente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: nfce_nao_encontrada
                mensagem: NFC-e não encontrada.
        '415':
          description: Corpo vazio ou sem Content-Type JSON.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: formato_invalido
                mensagem: Recebida requisição vazia quando eram esperados dados.
        '429':
          description: Mais de 100 requisições por minuto no mesmo token (doc legada oficial) ou, como observado em teste,
            várias autenticações falhas do mesmo IP (codigo limite_excedido).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: ''
                mensagem: Too many requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                emails:
                  type: array
                  description: E-mails de destino.
                  items:
                    type: string
              required:
              - emails
            example:
              emails:
              - consumidor@example.com
  /v2/nfse:
    post:
      operationId: focus-nfe__nota_fiscal__emitir__nfse
      summary: NFSe > Emitir
      description: Envia um RPS no layout unificado da Focus para a prefeitura do prestador. Há pré-validação síncrona; se
        aceito, o processamento é assíncrono e o resultado sai na consulta ou no webhook. Campos marcados como Reforma Tributária
        podem ser ignorados por municípios em transição.
      tags:
      - nfse
      x-confianca: verificado
      x-fonte-url: https://doc.focusnfe.com.br/reference/emitir_nfse
      x-entidade-canonica: NotaFiscal
      x-acao-canonica: emitir
      parameters:
      - name: ref
        in: query
        required: true
        description: Identificador único do NFS-e no seu sistema; será usado nas consultas, cancelamento e eventos.
        schema:
          type: string
          description: Identificador único do NFS-e no seu sistema; será usado nas consultas, cancelamento e eventos.
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              example:
                cnpj_prestador: 00000000000191
                ref: os555
                status: processando_autorizacao
        '400':
          description: Campo obrigatório ausente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: requisicao_invalida
                mensagem: Parâmetro "prestador.codigo_municipio" não informado
        '401':
          description: Não autenticado
          content:
            text/html:
              schema:
                type: string
        '422':
          description: Reenvio da ref com outro prestador.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: erro_validacao
                mensagem: O emitente da nota fiscal é diferente do usado no primeiro envio
        '429':
          description: Mais de 100 requisições por minuto no mesmo token (doc legada oficial) ou, como observado em teste,
            várias autenticações falhas do mesmo IP (codigo limite_excedido).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Erro'
              example:
                codigo: ''
                mensagem: Too many requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data_emissao:
                  type: string
                  format: date-time
                  description: Data/hora de emissão do RPS.
                natureza_operacao:
                  type: string
                  description: Natureza da operação no padrão ABRASF (1 a 6); o significado varia por município.
                  enum:
                  - '1'
                  - '2'
                  - '3'
                  - '4'
                  - '5'
                  - '6'
                regime_especial_tributacao:
                  type: string
                  description: Regime especial (1 a 6).
                  enum:
                  - '1'
                  - '2'
                  - '3'
                  - '4'
                  - '5'
                  - '6'
                optante_simples_nacional:
                  type: boolean
                  description: Prestador é do Simples Nacional.
                incentivador_cultural:
                  type: boolean
                  description: Prestador é incentivador cultural.
                prestador:
                  type: object
                  description: Dados do prestador.
                  properties:
                    cnpj:
                      type: string
                      description: CNPJ do prestador (14 dígitos).
                      pattern: ^\d{14}$
                    inscricao_municipal:
                      type: string
                      description: Inscrição municipal do prestador.
                    codigo_municipio:
                      type: string
                      description: IBGE do município do prestador (a API retorna erro se não informado).
                      maxLength: 7
                  required:
                  - cnpj
                  - inscricao_municipal
                tomador:
                  type: object
                  description: Dados do tomador.
                  properties:
                    cpf:
                      type: string
                      description: CPF do tomador (informe cpf ou cnpj; o schema marca ambos como obrigatórios em alternativa).
                      pattern: ^[0-9]{11}$
                    cnpj:
                      type: string
                      description: CNPJ do tomador.
                      pattern: ^[0-9]{14}$
                    nif:
                      type: string
                      description: NIF de tomador estrangeiro.
                    motivo_ausencia_nif:
                      type: string
                      description: Motivo de não informar NIF.
                      enum:
                      - '0'
                      - '1'
                      - '2'
                    inscricao_municipal:
                      type: string
                      description: IM do tomador.
                    razao_social:
                      type: string
                      description: Nome/razão social.
                      maxLength: 115
                    telefone:
                      type: string
                      description: Telefone com DDD (10-11 dígitos).
                      pattern: ^[0-9]{10,11}$
                    email:
                      type: string
                      description: E-mail do tomador.
                      maxLength: 80
                    endereco:
                      type: object
                      properties:
                        logradouro:
                          type: string
                          description: Logradouro.
                          maxLength: 125
                        tipo_logradouro:
                          type: string
                          description: Tipo (sigla até 3 caracteres).
                          maxLength: 3
                        numero:
                          type: string
                          description: Número.
                          maxLength: 10
                        complemento:
                          type: string
                          description: Complemento.
                          maxLength: 60
                        bairro:
                          type: string
                          description: Bairro.
                          maxLength: 60
                        codigo_municipio:
                          type: string
                          description: IBGE do município.
                        uf:
                          type: string
                          description: UF.
                          maxLength: 2
                        cep:
                          type: string
                          description: CEP.
                          pattern: ^[0-9]{8}$
                servico:
                  type: object
                  description: Dados do serviço.
                  properties:
                    valor_servicos:
                      type: number
                      description: Valor total dos serviços.
                    valor_deducoes:
                      type: number
                      description: Deduções da base.
                    valor_pis:
                      type: number
                      description: PIS retido.
                    valor_cofins:
                      type: number
                      description: COFINS retida.
                    valor_inss:
                      type: number
                      description: INSS retido.
                    valor_ir:
                      type: number
                      description: IR retido.
                    valor_csll:
                      type: number
                      description: CSLL retida.
                    iss_retido:
                      type: boolean
                      description: ISS retido pelo tomador.
                    valor_iss:
                      type: number
                      description: Valor do ISS.
                    valor_iss_retido:
                      type: number
                      description: ISS retido.
                    outras_retencoes:
                      type: number
                      description: Outras retenções.
                    base_calculo:
                      type: number
                      description: Base de cálculo.
                    aliquota:
                      type: number
                      description: Alíquota do ISS (%).
                    desconto_incondicionado:
                      type: number
                      description: Desconto incondicionado.
                    desconto_condicionado:
                      type: number
                      description: Desconto condicionado.
                    item_lista_servico:
                      type: string
                      description: Item da LC 116 no formato aceito pelo município (ver /v2/municipios/{codigo}/itens_lista_servico).
                    codigo_cnae:
                      type: string
                      description: CNAE do serviço (alguns municípios exigem).
                    codigo_tributario_municipio:
                      type: string
                      description: Código tributário próprio do município.
                    discriminacao:
                      type: string
                      description: Descrição do serviço prestado.
                    codigo_municipio:
                      type: string
                      description: IBGE do município onde o serviço foi prestado.
                    percentual_total_tributos:
                      type: number
                      description: Percentual aproximado de tributos.
                    fonte_total_tributos:
                      type: string
                      description: 'Fonte do percentual (ex.: IBPT).'
                    codigo_nbs:
                      type: string
                      description: 'Reforma Tributária: código NBS.'
                    codigo_indicador_operacao:
[...]
